[2016-03-26 18:35] aozarov opened #38 "Service specific settings does not override ServiceApiSettings setting methods."
A service API (e.g. `PublisherApi`) can be configured with its own specific `PublisherSettings` settings.

Some of `PublisherSettings` configuration are inherited from `ServiceApiSettings`.

To allow chaining `this` is returned from the settings methods, however because `PublisherSettings`
does not override its parent methods the returned `this` would be `ServiceSettings` and not `PublisherSetting

[2016-03-26 18:47] aozarov opened #39 "Be consistent in method name for creating a Builder for an immutable object."
e.g. -> `RetryParams.newBuilder()` vs `ConnectionSettings.builder()`

My preference would be to use `builder()`.

[2016-03-27 21:29] aozarov opened #40 "Add javadoc to core classes such as RetryParams and BackoffParams"

[2016-03-28 16:13] garrettjonesgoogle commented on #39
The generated proto classes use newBuilder(). It might be most consistent to go with that, because we expose those generated proto classes as return types of the user of the generated client libraries.

[2016-03-28 18:10] garrettjonesgoogle commented on #38
Making ServiceApiSettings immutable and also inheritable as a parent class seem like mutually opposing goals. The PublisherSettings class is already designed to be mutable since it has a set of builders. The ServiceApiSettings class is really kind of a builder on its own, just a subset of one, in the sense that it contains the builder settings that are shared across multiple XSettings classes.

[2016-03-28 20:37] aozarov commented on #38
This does not have to be. E.g. see `gcloud-java` `ServiceOptions` and its subclasses (but there are other plenty of similar examples in that repository and elsewhere).

Immutability for Data types and settings and using the `Builder` pattern are common pattern idioms that I think you should try to stick with (or have a good reason for not doing that). One of the qualities of using Java is consiste

[2016-04-11 17:42] garrettjonesgoogle commented on #40
Javadoc has been added to all core classes in b374d6949820e36b350c28f0a70f9ebe064fdcdd and c4b99a33c1c7453a1ff71386d9ec992f41a66e30.

[2016-04-11 17:42] #40 closed

[2016-04-11 17:49] garrettjonesgoogle commented on #38
This was completed in the commit e27c1e5d4d64273ff291c781e3ec60862b9ebb8f.

[2016-04-11 17:49] #38 closed

[2016-04-11 21:23] shinfan commented on #39
This issue has been resolved.

[2016-04-22 17:41] garrettjonesgoogle opened #73 "ServiceApiSettings: Pass the provided executor to gRPC when creating the channel"
ServiceApiSettings.createChannelProvider only uses the executor for ClientAuthInterceptor, but it needs to be used for the Channel too.

[2016-04-22 17:57] michaelbausor commented on #39
Resolved:
https://github.com/googleapis/gax-java/commit/c49a2aaf759ebf61e874d3e2ec121d0fbc5109d2

[2016-04-22 17:57] #39 closed

[2016-04-22 22:57] garrettjonesgoogle opened #74 "PageAccessor: support getNextPageAsync()"
You can get a PageAccessor through an async call, but then it's not possible to do further async calls, so providing a getNextPageAsync() is necessary for completeness.

[2016-05-02 14:38] mziccard opened #77 "Missing required properties: totalTimeout even though the value is set"
When creating a PubSub's `PublisherApi` object I am getting the following `IllegalStateException` error:
[code]

However we do set the `totalTimeout` value: see [here](https://github.com/GoogleCloudPlatform/gcloud-java/blob/pubsub-alpha/gcloud-java-pubsub/src/main/java/com/google/cloud/pubsub/spi/DefaultPubSubRpc.java#L92).

If I understood it correctly this might be caused by [RetrySettings.Build

[2016-05-02 22:06] michaelbausor commented on #77
Should now be fixed (https://github.com/googleapis/gax-java/commit/0dba3fea6e95e8e4f565d7c425c4d1405219ad00)

Please let me know if you are still seeing the issue!

[2016-05-02 22:06] #77 closed

[2016-05-04 18:20] michaelbausor commented on #73
Fixed in https://github.com/googleapis/gax-java/pull/75

[2016-05-04 18:20] #73 closed

[2016-06-16 20:48] omaray opened #86 "Format for x-goog-api-client needs updating"
Please ensure that the header we use with GAX is x-goog-client-api and that the format is similar to the one used for Go and Python.

Go: https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/logging/apiv2/logging/client.go#L125

[2016-08-02 08:33] omaray opened #88 "Regenerate PubSub for Java to use the new endpoint"
PubSub library for Java doesn't use the new endpoint pubsub.googleapis.com. Let's regenerate the auto-gen layer so that the new endpoint is used.

@garrettjonesgoogle

[2016-08-17 22:35] shinfan opened #100 "Use varargs in setResponse of MockGrpcService"

[2016-08-31 06:06] jskeet commented on #86
No, it's `x-goog-api-client` :)

New link: https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/logging/apiv2/logging_client.go

[2016-09-18 00:24] omaray opened #110 "Add reference to gRPC (and other) types in javadoc"
Not sure if this bug should go in googleapis/toolkit instead, but logging this issue here for reference.

When looking at the JavaDoc of a specific GAPIC generated class, we should be able to access the underlying types (e.g. when clicking on the parameters or return values of a specific method).

[2016-09-20 15:33] garrettjonesgoogle commented on #110
The work for this is probably between googleapis/packman (the build logic to generate the docs), googleapis/artman (the packaging logic to drive the whole process), googleapis/googleapis (the location where the docs are hosted), and GoogleCloudPlatform/google-cloud-java (the location that references the javadocs). This repo (gax-java) would not be touched.

[2016-09-25 23:49] omaray commented on #110
Okay - that's fine by me. I'll let you define and drive the implementation details. But can we fix the gRPC and protocol buffer types in the vkit JavaDoc? That's basically the requirement. Feel free to close this issue and open other ones to track this work more accurately if you prefer.

[2016-10-03 11:29] mziccard opened #116 "ServiceApiSettings.applyToAllApiMethods always overrides retryable codes"
`ServiceApiSettings.applyToAllApiMethods(Iterable<ApiCallSettings.Builder> methodSettingsBuilders, ApiCallSettings.Builder newSettingsBuilder)` sets `newSettingsBuilder.getRetryableCodes()` and `newSettingsBuilder.getRetrySettingsBuilder()` for all API method settings in `methodSettingsBuilders`.

`applyToAllApiMethods` avoids using `newSettingsBuilder.getRetryableCodes()`  if its `null`, however,

[2016-10-03 17:58] shinfan commented on #116
I think the solution here is to allow null retryable codes in RetrySettings.Builder.

[2016-10-10 10:49] mziccard opened #120 "Easy way to reuse channel"
Following [this comment](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1304#issuecomment-251224015) from Garrett I am trying to reuse the same channel to instantiate multiple service objects.

I can do that by creating the channel myself and passing it to [ServiceApiSettings.provideChannelWith(ManagedChannel, boolean)](https://github.com/googleapis/gax-java/blob/master/src/main/jav

[2016-10-21 12:30] mziccard commented on #116
I new version of GAX is out, any chance this was fixed?

[2016-10-21 14:42] garrettjonesgoogle commented on #116
It's not fixed yet :-(

[2016-10-25 18:23] garrettjonesgoogle commented on #88
Done long ago.

[2016-10-25 18:23] #88 closed

[2016-10-25 23:27] garrettjonesgoogle commented on #120
It is indeed intentional for [getOrBuildChannel()](https://github.com/googleapis/gax-java/blob/master/src/main/java/com/google/api/gax/grpc/ServiceApiSettings.java#L340) to create a new channel every time it's called. The problem is that the settings class is meant to be stateless and re-usable, but if we keep returning the same channel and that channel gets closed, then that settings object can't

[2016-10-26 08:17] mziccard commented on #120
I see your point but the name rather suggests that the channel is "build" only once and then returned.

Proposed solution sounds fine to me.  However, `createCachedChannelProvider` should take `ConnectionSettings`, to allow us configuring credentials, endpoint and port. Such method should probably live in `ServiceApiSettings`.

[2016-10-28 11:46] mziccard opened #133 "Cherry-pick gRPC dependencies rather than using grpc-all"
This was briefly discussed internally. As per title we should drop the `grcp-all` dependency and favor cherry-picking gRPC dependencies.

This should help us getting rid of some dependencies as well as duplicated classes (e.g. the ones pulled by both `protobuf-java` and `protobuf-lite`).

[2016-11-02 23:05] garrettjonesgoogle commented on #133
Note: This fix should also be applied to the grpc-generated packages for each API.

[2016-11-04 08:53] #133 closed

[2016-11-04 21:37] garrettjonesgoogle commented on #120
I have implemented a variant of my idea in https://github.com/googleapis/gax-java/commit/3f384630729df9b2965e984c70651c72593d98ec , so I am resolving this issue now.

[2016-11-04 21:37] #120 closed

[2016-11-04 21:41] garrettjonesgoogle commented on #100
This was done slightly differently, by converting to addResponse instead of varargs in setResponse.

https://github.com/googleapis/gax-java/commit/9ae6b302cf4e4b553d239776f95dc800161a3419

[2016-11-04 21:41] #100 closed

[2016-11-07 21:09] jskeet opened #141 "Use MoreCallCredentials.from for auth instead of ClientAuthInterceptor which is deprecated"
See https://github.com/grpc/grpc-java/issues/2391#issuecomment-258959294 - `ClientAuthInterceptor` is deprecated, and doesn't upgrade service accounts to JWTs appropriately in all cases.

[2016-11-10 23:52] garrettjonesgoogle opened #146 "OperationFuture: use exponential backoff in polling schedule"
Also consider an initial wait period that is relative to the size of the input (would be API-specific).

[2016-11-11 18:32] garrettjonesgoogle opened #147 "OperationFuture: convert from polling to scheduled execution"
At the same time, make sure that cancellation with `mayInterruptIfRunning = false` cancels the local execution but not the remote operation.

[2016-11-18 04:39] mdietz94 opened #149 "MaxMessageSize is not altered, making delivery impossible over gRPC for some APIs"
For Cloud Pub/Sub, the maximum possible PullResponse is 20 MB large. The default gRPC Channel maxMessageSize is 4 MB. This should be configured per API, or some messages will be silently undeliverable.

[2016-11-18 04:45] garrettjonesgoogle commented on #149
@ejona , is there a drawback to setting maxMessageSize to a large value for all APIs?

[2016-11-19 01:57] ejona86 commented on #149
The user would have to be willing to receive large responses, and remember that they can explode in size when deserializing. The max message size is there to prevent large requests/responses without actually considering the stability impact to the service/users.

If a user uploads a 20 MB message, then it can be reasonable to increase the default limit and let them receive it. If the user uploads

[2016-11-29 18:45] garrettjonesgoogle commented on #86
Work being done in https://github.com/googleapis/gax-java/pull/155

[2016-11-29 21:07] shinfan opened #156 "Automatically determine gax version"
Currently the default gax version is hard-coded.

[2016-11-30 16:08] mattnworb opened #157 "Unbounded queue in ThresholdBundler.closedBundles"
Copying over some possible issues found in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1432:

1. com.google.api.gax.bundling.ThresholdBundler has an unbounded queue for closedBundles that will fill endlessly if an application is publishing faster than the queue can be drained, or if draining/publishing can't occur at all for some reason. We've seen on a few instances (3-5 appli

[2016-11-30 16:12] garrettjonesgoogle commented on #157
So the bundling system will propagate service success results and service failures (as exceptions), but it doesn't propagate failures to initiate the service call. If that was propagated to the caller, then the caller wouldn't keep providing more and more messages with no feedback on the failures.

[2016-12-02 13:02] mattnworb commented on #157
Do you mean the caller of e.g. com.google.cloud.pubsub.PubSub? This would seem to require the application developer to develop some sort of "should I publish?" state and logic, whereas the ability to set a maximum limit on the number of items stored by the bundling system seems like it could prevent unbounded memory usage at a more foundational level. Of course, these aren't mutually exclusive tho

[2016-12-02 16:02] garrettjonesgoogle commented on #157
Here is the scenario I'm describing:

* Main thread calls `publish` 100 times
* The bundler combines those publish calls into a bundle, tries to publish to the service
* The service call fails with UNAUTHENTICATED
* Currently, this will kill the bundling thread, and the main thread will not see any failures. My suggestion: have each call site that called `publish` throw an exception indicating UNA

[2017-01-09 03:54] pongad opened #168 "Sort out BundlingSettings"
@garrettjonesgoogle @davidtorres

From our meeting last Thursday, I think the decision was
- These fields should be set and non-zero
  - `elementCountThreshold`
  - `requestByteThreshold`
  - `delayThreshold`
- Delete the rest

I wanted to make sure I get it right to avoid code churn since this is tightly coupled with work in google-cloud-java.

[2017-01-09 15:23] davidtorres commented on #168
SGTM

[2017-01-10 02:10] garrettjonesgoogle commented on #168
One more item needs to be supported: blocking call count threshold. With that added, LGTM.

[2017-01-11 23:05] #168 closed

[2017-01-18 20:06] pbogle commented on #146
Exponential backoff is important for the speech API.  Our long-running operations can be very long running (potentially > 1 hour) so it is very inefficient to poll 1s per second.  We have quotas for abuse preventation and polling thousands of times will cause quota issues for users.

[2017-01-18 20:09] garrettjonesgoogle commented on #146
Marking as blocking beta for Speech.

[2017-01-18 20:09] garrettjonesgoogle commented on #146
Oh, we don't have the specific API labels in gax-java. Oh well.

[2017-01-18 22:42] pongad opened #174 "Document that bundling delay threshold should be small"

[2017-01-19 04:45] pongad commented on #174
Fixed by https://github.com/googleapis/gax-java/pull/175

[2017-01-19 04:45] #174 closed

[2017-01-19 17:16] garrettjonesgoogle opened #177 "ExceptionTransformingCallable not propagating details from Status object in thrown ApiException"

[2017-01-19 17:16] garrettjonesgoogle commented on #177
https://github.com/googleapis/gax-java/blob/master/src/main/java/com/google/api/gax/grpc/ExceptionTransformingCallable.java#L90

[2017-01-25 06:11] pongad opened #184 "InstantiatingChannelProvider might leak Executor"
cc @garrettjonesgoogle
If we call `getChannel()`, the provider gets an executor from a call to `executorProvider.getExecutor()`. Depending on the implementation of `executorProvider`, we might create a new executor in the process.

Who's responsible for shutting down this executor? My best guess is that the returned channel should shut down the executor whenever the channel itself is shut down. If

[2017-01-25 07:16] jskeet commented on #146
.NET has the same issue - our LRO polling is constant-delay, which feels appropriate to me. The default delay is once every 10 seconds, across the board - it's possible that we should work out a way of letting each service specify a default.

Exponential backoffs typically have upper bounds, and I'd expect to reach that upper bound pretty quickly for speech - polling once per minute would mean onl

[2017-01-25 22:42] garrettjonesgoogle commented on #156
Fixed in #182

[2017-01-25 22:42] #156 closed

[2017-01-25 22:43] garrettjonesgoogle opened #185 "Put operation name in ApiException"
The user doesn't know what call causes exceptions:

[code]

[2017-01-25 22:57] garrettjonesgoogle commented on #184
I think people should use `ProviderManager` which sorts out this situation.

[2017-01-26 17:40] garrettjonesgoogle commented on #157
@pongad could you make sure this gets addressed for pubsub?

[2017-01-27 00:11] pongad commented on #157
I think both issues are solved in the new implementation.
- You can set `FlowControlSettings` to either throw or block when there are too many messages in the queue.
- The `publish` method is not asynchronous, returning `Future<String>`. Any error will propagate to caller of `future.get()`.

[2017-01-27 01:25] garrettjonesgoogle opened #186 "move from grpc-all to more minimal grpc dependency set"
Using grpc-all creates a larger dependency tree.

[2017-01-27 17:56] garrettjonesgoogle opened #188 "Create variant of GAX with Guava and gRPC shaded"
Consequences:

1. Guava can't be exposed on the public surface of GAX
2. gRPC can't be exposed on the public surface of GAX

Number 2 will be the larger effort, because Guava is already in the process of being hidden, but gRPC is currently exposed.

[2017-01-27 19:52] mattnworb commented on #157
@pongad do you mean "_now_ asynchronous"?

[2017-01-30 00:15] pongad commented on #157
@mattnworb Yes I did!

[2017-01-30 16:56] garrettjonesgoogle commented on #141
Here is the key line that needs to be migrated:

https://github.com/googleapis/gax-java/blob/master/src/main/java/com/google/api/gax/grpc/InstantiatingChannelProvider.java#L116

[2017-01-30 19:34] garrettjonesgoogle opened #192 "Create Gradle build task to perform automatic release process"
Still manual:
* Update version.txt

Full process:
* verify that there are no local changes before starting the process
* update docs (there is already a task for this step - updateDocsWithCurrentVersion)
* commit generated gh-pages (updateDocsWithCurrentVersion puts this under tmp_gh-pages/)
* upload built archives (uploadArchives is the command that needs to be invoked when being performed manual

[2017-01-31 20:25] shinfan commented on #146
It is reasonable to poll once per minute if the operation is about 1 hour. But it would be wasteful if the operation is longer (e.g. 10 hours). It looks reasonable to use constant delay as default for LRO (10 seconds interval sounds reasonable to me). To support cases such as Speech which requires exponential delay, we can add some gapic config fields to allow these APIs specify the default (expon

[2017-01-31 20:40] jskeet commented on #146
It's still not clear to me that Speech really _requires_ an exponential delay - and any exponential delay is likely to have an upper bound anyway. Exponential delays are much more complicated to explain to users, and I really don't see the benefit.

The cost of polling once a minute (the rate I suggest for speech, with other APIs being different) is very small compared with what I'd expect the com

[2017-01-31 22:15] lukesneeringer commented on #146
Worth noting that the current linear delay can have a custom minimum, multiplier, and maximum; it would be pretty easy to set a one or two minute maximum for Speech. (The default is 30 seconds, incidentally, which is not horrifically unreasonable for a one hour LRO.)

[2017-02-01 17:29] pbogle commented on #146
Fixed interval polling is probably OK as long as you don't poll more than once a minute.

[2017-02-08 20:30] garrettjonesgoogle commented on #188
For gRPC, only `grpc-stub` needs to be shadowed, since it is the only piece that directly exposes Guava. Thus, `StreamObserver` needs to be wrapped.

[2017-02-08 20:31] garrettjonesgoogle opened #199 "Wrap grpc's StreamObserver to enable shadowing of grpc-stub"

[2017-02-08 20:31] garrettjonesgoogle commented on #188
https://github.com/googleapis/gax-java/issues/199

[2017-02-09 18:15] vam-google commented on #177
Confirmed to be a server side issue. The details object is not transferred on the client side in an appropriate  form, so there is nothing to propagate.

[2017-02-09 18:15] #177 closed

[2017-02-10 23:12] garrettjonesgoogle commented on #188
Done.

[2017-02-10 23:12] #188 closed

[2017-02-10 23:12] garrettjonesgoogle commented on #186
This is done for GAX itself, but it also needs to be done for `grpc-google-common-protos`.

[2017-02-10 23:13] garrettjonesgoogle commented on #199
Done in https://github.com/googleapis/gax-java/pull/201 .

[2017-02-10 23:13] #199 closed

[2017-02-10 23:13] garrettjonesgoogle commented on #146
Given that fixed interval polling is ok, I'm removing off the blocking label.

[2017-02-10 23:15] garrettjonesgoogle commented on #110
This has been done.

[2017-02-10 23:15] #110 closed

[2017-02-10 23:16] garrettjonesgoogle commented on #86
Done by @shinfan  in https://github.com/googleapis/gax-java/pull/179 and https://github.com/googleapis/gax-java/pull/203 .

[2017-02-10 23:16] #86 closed

[2017-02-10 23:17] garrettjonesgoogle commented on #185
This is a very poor experience - marking as Blocking GA.

[2017-02-17 20:30] garrettjonesgoogle opened #208 "Switch from NettyChannelBuilder to ManagedChannelBuilder"
Specifically, in https://github.com/googleapis/gax-java/blob/master/src/main/java/com/google/api/gax/grpc/InstantiatingChannelProvider.java . `NettyChannelBuilder` is `@Experimental` so we shouldn't depend on it directly; all of the same functionality should be available in `ManagedChannelBuilder`.

[2017-03-03 22:02] garrettjonesgoogle opened #224 "Rename "bundling" to "batching""
This includes classes, methods, variables, docs, etc.

[2017-03-08 01:18] #208 closed

[2017-03-09 05:24] #184 closed

[2017-03-10 21:48] garrettjonesgoogle commented on #74
This may get fixed as part of https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1568 .

[2017-03-10 21:51] garrettjonesgoogle commented on #157
We now have flow control in `ThresholdBundler`, which is (1) in the requester's list. As for the processing thread dying (2), that might get fixed with converting the bundler to a push model. Assigning to @michaelbausor to verify as part of his bundling changes.

[2017-03-10 21:53] garrettjonesgoogle commented on #116
We can wait for after google-cloud-java GA to fix this because the GAPIC clients won't go GA at that time.

[2017-03-10 21:54] garrettjonesgoogle opened #234 "Remove references to netty so that using grpc with shaded netty is possible"

[2017-03-10 23:23] garrettjonesgoogle commented on #141
This depends on https://github.com/grpc/grpc-java/issues/1914 being completed.

[2017-03-11 00:20] garrettjonesgoogle commented on #149
This is blocked on https://github.com/grpc/grpc-java/issues/2563 .

[2017-03-15 18:51] michaelbausor commented on #157
Correct, (1) is resolved by flow control, and (2) is resolved by converting to a pushing bundler, which gets rid of dedicated threads and uses an executor instead.

[2017-03-15 18:51] #157 closed

[2017-03-16 22:50] garrettjonesgoogle opened #240 "delete PathTemplate & related classes, depend on api-common-java"

[2017-03-20 16:20] #224 closed

[2017-03-20 21:19] shinfan commented on #146
This should be fixed by: https://github.com/googleapis/gax-java/pull/195

Close this issue for now. Feel free to reopen if we need exponential backoff in the furture.

[2017-03-23 16:17] garrettjonesgoogle commented on #234
There are no more references in the main code, but `com.google.api.gax.testing` has some references in `MockServiceHelper` and `LocalChannelProvider`.

[2017-03-27 17:55] shinfan opened #252 "Rename `GaxPropertiesProvier` to `MetadataProvider` for broader usage."
Move the pom version logic from generated code into the `MetadataProvider` class.

[2017-03-29 00:31] garrettjonesgoogle commented on #149
Let's use `ManagedChannelBuilder.maxInboundMessageSize(int)` from GAX.

[2017-03-29 23:00] garrettjonesgoogle commented on #186
This can be taken care of when upgrading to grpc 1.2

[2017-03-29 23:05] garrettjonesgoogle opened #259 "Scrub all Guava exposure, including dependencies"
In particular, grpc-google-common-protos exposes Guava. Depends on https://github.com/googleapis/toolkit/issues/1145 .

[2017-03-29 23:07] garrettjonesgoogle commented on #252
This is now named `PropertiesProvider`...

[2017-03-29 23:26] shinfan commented on #252
I think we can close this issue....

[2017-03-29 23:26] #252 closed

[2017-03-31 21:28] garrettjonesgoogle opened #263 "Split gax into two modules/artifacts: gax-core and gax-grpc"
This will allow distinct surface stability guarantees and also will allow non-grpc APIs to not pull in grpc as a dependency.

[2017-04-05 21:06] rdmoore opened #268 "FlowController.reserve - deadlock on acquireUninterruptibly()"
The FlowController:: reserve doesn't take the initial size of the semaphore into account when blocking.

Background: trying to provide limits to the pub/sub subscriber - wanted one-at-a-time.  With the size of the semaphore set to 1, pub/sub subscriber code will usually pull back more than one message (could be as many as 1000 if I'm reading the code correctly).   Each thread that processes pub/su

[2017-04-12 17:01] michaelbausor commented on #74
Closed in https://github.com/googleapis/gax-java/pull/255

[2017-04-12 17:01] #74 closed

[2017-04-13 04:58] #149 closed

[2017-04-18 15:50] garrettjonesgoogle commented on #186
This was completed in https://github.com/googleapis/gax-java/pull/274 .

[2017-04-18 15:50] #186 closed

[2017-04-18 17:35] michaelbausor commented on #240
Fixed in #279

[2017-04-18 17:35] #240 closed

[2017-04-19 14:22] jradcliff opened #282 "PropertiesProvider writes exceptions to System.err instead of a logger"
The new(ish) `PropertiesProvider` writes exceptions and other messages to `System.err` instead of using a logger. This creates a significant amount of noise for what appear to be non-critical errors.

For example, `loadProperty` invokes `System.err.printStackTrace` on [line 81](https://github.com/googleapis/gax-java/blob/master/src/main/java/com/google/api/gax/core/PropertiesProvider.java#L81), bu

[2017-04-19 14:49] garrettjonesgoogle commented on #282
Related issue in google-cloud-java: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1909

[2017-04-19 22:21] garrettjonesgoogle commented on #141
Guidance from grpc about credential-related classes:

"MoreCallCredentials will be fully-stable. CallCredentials will be deemed safe to reference, but not safe to implement/call-directly. CallOptions/AbstractStub.withCallCredentials will also become stable."

[2017-04-19 22:41] #141 closed

[2017-04-19 23:50] garrettjonesgoogle commented on #234
Since we aren't shading Netty until after GA, this isn't blocking GCJ GA.

[2017-04-20 21:24] garrettjonesgoogle opened #287 "Fix running of google-java-format in individual modules"
In an upcoming PR, gax is split into individual projects. Google-java-format only works on the first project it encounters, and not the rest. This probably requires a fix in google-java-format.

[2017-04-22 00:46] garrettjonesgoogle commented on #263
Done in https://github.com/googleapis/gax-java/pull/288

[2017-04-22 00:46] #263 closed

[2017-04-22 01:53] garrettjonesgoogle opened #290 "Fix javadocs so that both gax and gax-grpc docs are included"
Currently, only gax-grpc is showing up in the javadocs.

[2017-04-24 00:08] #287 closed

[2017-05-01 00:02] pongad commented on #268
This should have been fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1915 .
I'll close the issue for now. Please reopen if the problem persists.

[2017-05-01 00:02] #268 closed

[2017-05-04 22:14] garrettjonesgoogle commented on #259
This was done.

[2017-05-04 22:14] #259 closed

[2017-05-04 22:17] garrettjonesgoogle commented on #192
@shinfan this can be marked as done, right?

[2017-05-04 22:30] shinfan commented on #192
Yes this is done.

[2017-05-04 22:30] #192 closed

[2017-05-10 23:22] vam-google commented on #146
Reopening, as exponential backoff with a cap would still provide value for shorter requests.

[2017-06-21 16:43] vam-google commented on #146
Completed

[2017-06-21 16:43] #146 closed

[2017-06-21 16:43] vam-google commented on #147
Completed

[2017-06-21 16:43] #147 closed

[2017-07-12 22:52] dargiri opened #337 "PropertiesProvider resource (and native memory) leaking"
Dear Google team,

During our internal performance testing we found out that there's a resource leak (which is causing abnormal native memory consumption) in com.google.api.gax.core.PropertiesProvider class. Test app with google datastore api consumed more than 20 GB of RAM and java process got killed by linux's OOM killer.

Methods

`PropertiesProvider#loadProperty(Class<?> loadedClass, String pr

[2017-07-13 21:18] #337 closed

[2017-08-09 00:08] garrettjonesgoogle opened #348 "Create code samples under samples/"

[2017-09-01 21:51] saturnism opened #366 "Tag versions"
In the source tree, we don't have version tags. Given an gax-java version, it's pretty hard or near to impossible to find the source associated w/ that version in the source tree.

[2017-09-01 21:53] saturnism opened #367 "Switch to Apache 2.0 License"
Both the upstream dependency gRPC, and downstream consumer google-cloud-java are Apache 2.0 license. This one in the middle glueing the two is BSD.

[2017-09-18 23:02] nikolaybotevsc opened #373 "ProtoReflectionUtils Functionality"
@garrettjonesgoogle, @michaelbausor I found the ProtoReflectionUtils class (https://github.com/googleapis/gax-java/blob/05d4c20d2a302fee410001fe9e34fb7f59a64d7b/src/main/java/com/google/api/gax/protobuf/ProtoReflectionUtil.java) while looking for a way to get the Java Enum class of a proto enum field reflectively.

I see that the ProtoReflectionUtils class was removed in https://github.com/googlea

[2017-09-18 23:07] nikolaybotevsc commented on #373
The javadoc is where I landed originally http://googleapis.github.io/gax-java/0.12.0/apidocs/index.html?com/google/api/gax/protobuf/ProtoReflectionUtil.html

[2017-10-06 03:52] pongad commented on #373
I think it was retired for good since, at the time, it wasn't used by anyone. I'm actually not quite sure why the package ever existed. I'll leave it up to @garrettjonesgoogle if he wants to bring it back.

[2017-10-06 22:20] hiranya911 opened #376 "Warnings at Class Loading Time"
[code]

[2017-10-17 00:47] garrettjonesgoogle opened #383 "Use exception translation in streaming methods"
Currently, streaming methods don't translate exceptions, so the user just sees the raw StatusRuntimeException. We need to add exception translation like unary methods have.

[2017-10-19 06:59] yong4test commented on #376
Same problem too.

[2017-10-24 21:44] jabubake opened #389 "Unable to print `StatusCode` from `ApiException`"
[code]
`e.getStatusCode()` currently retrieves :
[code]
Users should be able to not have to perform the following cast to retrieve the status code:
[code]

[2017-10-24 21:45] jabubake commented on #389
@pongad FYI

[2017-11-09 04:41] #389 closed

[2017-11-09 20:17] pongad commented on #373
I'll close this out for now due to age, but please reopen if required.
There's no plan to bring this back currently.

[2017-11-09 20:17] #373 closed

[2017-11-09 21:50] kurtisvg opened #424 "API Docs are out of date"
The docs for gax-java are out of date. They seem to be stuck on version 1.9.1 while the library is on 1.14.0.

[2017-12-01 20:58] bogdandrutu opened #438 "Don't compile depend on com.google.auto.value:auto-value"
Autovalue should be used as "compileOnly" dependency not as "compile" in the gradle config. That implies your jar should not depend on "com.google.auto.value:auto-value"

See here:
https://mvnrepository.com/artifact/com.google.api/gax/1.15.0

In opencensus-java we also use auto-value see here:
https://github.com/census-instrumentation/opencensus-java/blob/4aa6e80c8efac571e3017b70d599eb52db23a6f3/a

[2018-01-31 00:38] pongad opened #464 "use `netty-grpc-shaded`"
Partially implemented in https://github.com/googleapis/gax-java/pull/462, but we need a new way to create in-process mock server.

[2018-01-31 18:08] igorbernstein2 opened #465 "rename GrpcDirectStreamController -> GrpcDirectServerStreamController"
Please assign to me

[2018-02-01 00:12] andreamlin commented on #464
See https://github.com/googleapis/gax-java/pull/469

[2018-02-01 02:34] #464 closed

[2018-02-03 05:07] igorbernstein2 opened #474 "Consider removing abstract toBuilder"
Gax uses a pattern of `abstract <B extends Builder<SettingsT, B>> B toBuilder();` in a base class, expecting a subclass to override it with a concrete return type.

This causes warnings like:
[code]

It might be cleaner remove the abstract toBuilder() method from the base classes and trust that the subclasses will implement that method

[2018-02-12 10:58] kleeb commented on #376
+1

[2018-02-14 21:14] garrettjonesgoogle commented on #376
This was fixed in https://github.com/googleapis/gax-java/pull/432 (released in 1.16.0). `PropertiesProvider` no longer exists.

[2018-02-14 21:14] #376 closed

[2018-02-15 22:08] igorbernstein2 opened #479 "HttpJsonCallContext has incorrect equals & hashCode implementation"
Currently all instances of HttpJsonCallContext have the same hashCode & are equal to each other. I think those methods were never updated after new fields were added

[2018-02-17 16:50] igorbernstein2 opened #484 "UnaryCallable#call is missing stackframes of the call site"
`UnaryCallable#call` invokes futureCall and re-throws its cause. The result of this is that the stacktrace only shows the frames rooted in whatever thread was computing the future (most likely grpc) and will not show the call site. This makes for really poor debug experience for the caller.

I think that `UnaryCallable#call` has to maintain some kind of wrapper so that the stacktrace is something

[2018-02-17 16:56] igorbernstein2 commented on #484
@garrettjonesgoogle, when you have a moment, can you give this some thought

[2018-02-17 16:57] igorbernstein2 commented on #474
@garrettjonesgoogle can you take a look at this?

[2018-02-19 05:39] garrettjonesgoogle commented on #484
This seems pretty important. I will think about how to solve this.

[2018-02-19 05:43] garrettjonesgoogle commented on #474
It seems like it should be possible to fix the parameterization to get this to work...

[2018-02-20 15:57] igorbernstein2 commented on #474
I don't think this is possible. The base class's toBuilder return type would have to include a self referential parameter that includes its builder class, which will be an inner class that hasn't been defined yet.

[2018-03-01 20:07] igorbernstein2 opened #488 "Figure out a better approach for overriding first() in ServerStreamingCallables"
This has been extracted from https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2940#pullrequestreview-100560930.

Serverside APIs might have better ways to handle fetching just the first element of a streaming w/o the client resorting to cancelling the stream.  However, in the current api for ServerStreamingCallables, the only way to implement this is to override  `first()`. Unfortunat

[2018-03-05 15:17] garrettjonesgoogle commented on #438
This was fixed in Dec 2017 in https://github.com/googleapis/gax-java/pull/448 . Closing.

[2018-03-05 15:17] #438 closed

[2018-03-05 15:18] garrettjonesgoogle commented on #366
I tagged all the releases last November (2017). Closing.

[2018-03-05 15:18] #366 closed

[2018-03-05 15:20] garrettjonesgoogle commented on #234
This was done in https://github.com/googleapis/gax-java/pull/469 .

[2018-03-05 15:20] #234 closed

[2018-03-05 15:21] garrettjonesgoogle opened #489 "Publish docs under latest/"
This allows easier linking from other docs.

[2018-04-11 21:34] pongad opened #526 "GoogleCredentialsProvider is not immutable"

[2018-05-07 21:54] j256 opened #538 "Unable to set thread-names to identify threads inside of the gax thread pools"
In debugging thread issues with Google Pub/Sub, I was frustrated by the Thread-2, Thread-3, ... names of threads originating from the Pub/Sub API code.  All thread pools should have the option of naming their threads for this reason.

Fixed by #536

[2018-05-31 01:46] zhengzhu88 opened #543 "BatchingSettings default value for elementCountThreshold"
When creating a BatchingSettings object using the builder, if a user doesn't explicitly call `builder.setElementCountThreshold()`, the builder uses the default elementCountThreshold of 1. That means that the default behavior of the BatchingSettings object is to not batch at all. I spent a good 30 minutes trying to figure out my application wasn't batching messages even when I was using a BatchingS

[2018-06-13 23:36] garrettjonesgoogle commented on #424
This has been resolved for a while. (They are showing 1.28.0 currently)

[2018-06-13 23:36] #424 closed

[2018-06-19 21:04] andreamlin opened #549 "Gradle cannot resolve AutoValue dependency on Java 7"
This breaks our CI build for Java 7.

See https://travis-ci.org/googleapis/gax-java/builds/394272066 for Java 7 failures.

[code]

This may be because Java 7 doesn't use TLS 1.2, whereas Java 8 has TLS version 1.2 as a default.
The autovalue artifact is located at repo1.maven.org, and analyzing the SSL for repo1.maven.org gives
[code]
so it seems like repo1.maven.org requires TLS 1.2.

See [here](

[2018-06-19 21:05] andreamlin commented on #549
This will probably break any user on Java 7 using Gradle.

[2018-06-19 23:20] andreamlin commented on #549
Solution may be to update Java 7 version: https://stackoverflow.com/questions/39157422/how-to-enable-tls-1-2-in-java-7

[2018-06-20 17:42] chrisdunelm opened #551 "Is the JWT-permitted check in GoogleCredentialsProvider correct?"
The JWT-permitted check in [GoogleCredentialsProvider.getCredentials()](https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/core/GoogleCredentialsProvider.java#L62) (line 62) appears incorrec to me.

It currently permits JWT use if *any* of the applied scopes are present in the "JWT-enabled" scopes.
However, shouldn't it only permit JWT use if *all* of the appli

[2018-06-20 17:43] chrisdunelm commented on #551
/cc @pongad

[2018-06-20 19:04] JustinBeckwith commented on #551
This issue was moved to google/google-auth-library-java#161

[2018-06-20 19:37] chingor13 commented on #551
Actually, it looks like it does belong here as `GoogleCredentialsProvider` is a gax construct.

[2018-06-20 20:05] igorbernstein2 commented on #551
From my understanding, an API scope is used to narrow down the permissions that a set of credentials have. For example if I assign the project owner role to a service account, I can use api scopes to limit the authorization token to only the target service. A GAPIC client only targets a single service, so a wide scope like cloud-platform is equivalent to a more narrow scope like pubsub, when used

[2018-06-21 17:09] chrisdunelm commented on #551
This was my misunderstanding, thanks @igorbernstein2 for our chat earlier. Closing this issue.

[2018-06-21 17:09] #551 closed

[2018-06-25 20:22] spollapally opened #552 "Issue applying a ApiFuture ResponseT transformation on a OperationFuture"
OperationFuture<ResponseT, MetadataT> future ..
ApiFutures.transform(future, new ApiFunction<ResponseT, SomeOtherT>() {

          @Override
          public SomeOtherT apply(ResponseT input) {
            return convertToSomeOther(input);
          }
        });
  }.get()

Using the approach seems to block forever. Is this a bug in the implementation, or is the usage incorrect? Thanks.

[2018-06-25 20:32] igorbernstein2 commented on #552
I think the underlying issue is that `ApiFutures.transform` treats `AbstractApiFuture` instances special by downcasting and fetching the underlying ListenableFuture:
https://github.com/googleapis/api-common-java/blob/master/src/main/java/com/google/api/core/ApiFutures.java#L162

This is broken for `OperationFutureImpl` because although it inherits from `AbstractApiFuture`, it doesn't use the inter

[2018-06-25 20:33] igorbernstein2 commented on #552
@garrettjonesgoogle can you or someone your team take a look?

[2018-07-10 23:10] #549 closed

[2018-07-10 23:10] andreamlin commented on #549
Resolved.

[2018-07-24 23:41] igorbernstein2 opened #561 "Poor deadline semantics when retries are enabled"
If a client is configured with DEADLINE_EXCEEDED as a retryable error and the user sets a deadline using ApiCallContext#withTimeout. Then when user's deadline is met, all retry attempts will failed locally with a DEADLINE_EXCEEDED error, but the retry mechanism will continue trying with exponential backoff.

It would be better if the timeout in the ApiCallContext was re-purposed as the totalTimeou

[2018-07-24 23:44] igorbernstein2 commented on #465
This is no longer relevant

[2018-07-24 23:44] #465 closed

[2018-07-25 19:54] #552 closed

[2018-08-17 17:49] igorbernstein2 commented on #383
I think this has been fixed

[2018-08-17 18:02] igorbernstein2 commented on #484
@garrettjonesgoogle  how would you feel about using suppressed exceptions to store the call site? The idea being that when a future fails, we would re-throw it's cause, but before doing that, we would `.addSuppressedException(new RuntimeError("Encountered error while awaiting future"))` on the error.

This would allow catchable errors like ApiExceptions to propagate to the caller, but the stacktra

[2018-08-28 02:44] elharo opened #568 "Upgrade GAX's com.google.auth:google-auth-library-oauth2-http dependency to 0.11.0"
This will help with some dependency convergence issues downstream, and probably has some bug fixes too.

[2018-08-29 17:15] elharo commented on #568
closed by #569

[2018-08-29 17:15] #568 closed

[2018-08-29 20:21] igorbernstein2 opened #571 "FR: provide a way to asynchronously fetch all of the entries in a paginated callable"
Currently there is no straightforward way to asynchronously get all of the entries in a paginated method. The user either has to use a thread pool and call `AbstractPage#iterateAll()` or use chained futures for each page.

[2018-09-06 21:27] steveniemitz opened #573 "Provide a way to configure the ManagedChannelBuilder when building gRPC channels in InstantiatingGrpcChannelProvider"
The default `InstantiatingGrpcChannelProvider` has no way to configure the underlying `ManagedChannelBuilder` when building channels.  Specifically, we have customizations we'd like to apply to the `NettyChannelBuilder` before it creates a `ManagedChannel`.

[2018-09-17 19:30] #484 closed

[2018-09-21 15:37] michaelbausor commented on #561
@garrettjonesgoogle I have flagged this as a feature request, but it could also be considered a bug - can you take a look and assign someone?

[2018-09-21 15:49] garrettjonesgoogle commented on #561
I believe that the timeout in ApiCallContext is really just meant for the timeout of a single attempt - @vam-google can clarify.

[2018-09-21 16:44] igorbernstein2 commented on #561
There are a few aspects to this

1. Bug 1: currently AttemptCallable sets the rpc timeout from retry settings onto the call context as a timeout (which will be set as a deadline on the underlying grpc context). The problem is that deadlines are absolute and GrpcCallContext will only decrease timeouts.For example if the current time is 0 and retry settings are configured to have a constant 10ms rpc

[2018-09-21 17:15] michaelbausor commented on #571
How common is this use case? I don't have a good sense of how highly this should be prioritized. cc @garrettjonesgoogle

[2018-09-21 17:40] michaelbausor commented on #573
@garrettjonesgoogle it seems reasonable to either support modifications like this, or else allow implementation of a custom `TransportChannelProvider` (right now it is marked `@InternalExtensionOnly`), WDYT?

[2018-09-21 17:44] garrettjonesgoogle commented on #573
Yeah this seems like a good thing to add.

[2018-09-21 17:57] igorbernstein2 commented on #571
I'd say its a pretty low priority. I just want to get rid of this ugliness:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/36409f5b1df89609eaef92d09cebea97931339bd/google-cloud-clients/google-cloud-bigtable-admin/src/main/java/com/google/cloud/bigtable/admin/v2/BigtableTableAdminClient.java#L439-L478

[2018-09-24 16:53] igorbernstein2 commented on #573
This would require a bit more work. `InstantiatingGrpcChannelProvider` decorates the channel with `GrpcHeaderInterceptor` and `GrpcMetadataHandlerInterceptor`both of these are `InternalApi`. I think that before we allow users to create custom `TransportChannelProvider`s we would need to pull those interceptors up to `ClientContext.create()`.

[2018-09-24 16:57] igorbernstein2 commented on #573
Also as a parallel to the discussion in https://github.com/GoogleCloudPlatform/cloud-bigtable-client/issues/1906#issuecomment-424014096, maybe as opposed to exposing TransportChannelProvider for subclassing, we can expose [ChannelPool](https://github.com/googleapis/gax-java/blob/master/gax-grpc/src/main/java/com/google/api/gax/grpc/ChannelPool.java) and let users instantiate their own channels, wr

[2018-10-02 09:26] Raibaz opened #584 "GaxProperties.getJavaVersion() returns null on JDK 9 and above"
The `GaxProperties` class relies on `getPackage().getImplementationVersion()` to determine class versions and does so to determine the JRE version it is running on as well; however, in JDK 9 and above this is returning null for packages in named modules, like the ones in the `java.lang` package, as stated by the [doc](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Package.h

[2018-10-02 21:08] Raibaz commented on #584
I see, that makes sense. Is there an expected timeline for java 11 support?

[2018-10-05 00:41] igorbernstein2 opened #588 "PagedResponses are extremely difficult to mock"
Feature request: provide some kind of helper that can be used to mock a PagedListResponse.

As it stands it's next to impossible for end users to write unit tests that mock methods that are paginated. Ideally gax would provide a helper to construct an instance of `PagedListResponse` using an in memory list. Something along the lines of:

[code]

[2018-10-05 00:46] igorbernstein2 opened #589 "HttpJsonCallContext equals() & hashCode are incorrect"
Currently all instances of HttpJsonCallContext have the same hashCode & are equal to each other. I think those methods were never updated after new fields were added

[2018-10-05 06:07] igorbernstein2 opened #591 "Retrying logic can prevent an overloaded service from recovering"
It seems like the current behavior of the retry logic (introduced in #84) is to almost immediately retry the RPC upon receiving a deadline exceeded error:
https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/rpc/ApiResultRetryAlgorithm.java#L44

A very common reason for a service to return a deadline exceeded error is when it's overloaded. Sending more RPCs will

[2018-10-05 06:11] igorbernstein2 commented on #589
Oops, looks like I already filed this #479

[2018-10-05 06:11] #589 closed

[2018-10-05 07:18] igorbernstein2 commented on #591
@pongad @garrettjonesgoogle WDYT?

[2018-10-05 21:01] garrettjonesgoogle opened #594 "Add a BOM"
Add a `gax-bom` module which only contains a pom.xml with the following characteristics:

1. `<packaging>pom</packaging>`
2. All gax modules under `<dependencyManagement>`, including entries for both the primary jar and the `testlib` classifier.

[2018-10-05 21:09] pongad commented on #591
How immediate is this concern? gRPC has an approved [proposal](https://github.com/grpc/proposal/blob/master/A6-client-retries.md) for server-configured retry-timeout. At least in the long term, I think our strategy should be to let gRPC deal with it.

[2018-10-05 21:16] garrettjonesgoogle opened #595 "Use version management scripts"
After https://github.com/googleapis/google-cloud-java/issues/3777 is complete (and google-cloud-java's version management functionality is moved to releasetool), switch gax-java to use it also. This would mean:

- Move the individual `version.txt` versions into a single `version.txt` file at the root
- Tag all locations in the repo that need versions to be updated at each release
- Delete the `tem

[2018-10-05 21:19] garrettjonesgoogle commented on #594
I tried doing this with the maven plugin, but found that since Gradle doesn't have first-class support for classifiers, I couldn't get it to generate a BOM that contained versions for `testlib` artifacts.

My currently-recommended approach now is to just create a literal `pom.xml` in this repo, and keep the versions in it up to date by using version management scripts, as described in https://gith

[2018-10-08 15:37] lukesneeringer commented on #591
Is this P2 or P1?

[2018-10-08 15:38] lukesneeringer commented on #591
(Assigning P2 for triage, but feel free to bump it if @pongad and others concur.)

[2018-10-09 16:29] #591 closed

[2018-10-11 16:09] #595 closed

[2018-10-11 17:27] garrettjonesgoogle opened #603 "Convert from `uploadArchives` to `publications`"
The `uploadArchives` task is now "legacy": https://docs.gradle.org/current/userguide/artifact_management.html

Also, it provides zero control over the generated BOM. Since we need control over what we publish for a BOM in https://github.com/googleapis/gax-java/issues/594 , we need to do the present conversion first. The new way to declare how publishing is done is documented here:

https://docs.gr

[2018-10-11 17:28] garrettjonesgoogle commented on #594
We need to convert from `uploadArchives` to `publications` before we can do this. Issue filed: https://github.com/googleapis/gax-java/issues/603

[2018-10-16 23:39] #603 closed

[2018-10-19 18:05] #594 closed

[2018-10-26 17:51] #526 closed

[2018-10-26 18:38] songy23 opened #614 "What's the correct way to set "user-agent" header?"
Hello GAX-Java maintainers,

This is Yang from OpenCensus team. Recently we've been working on adding the `user-agent` header to our Stackdriver Monitoring exporters for all languages. This allows Stackdriver Monitoring to group the uploaded metrics by different sources (e.g from OpenCensus vs. from other libraries), by looking at the value of the `user-agent` header.

However, I've noticed that i

[2018-11-06 18:43] songy23 commented on #614
Friendly ping.

I saw that in C++ we also have the `WithUserAgent` option: https://github.com/census-instrumentation/opencensus-cpp/pull/234. Looks like GAX-Java is the only library that doesn't have this option.

[2018-11-07 22:42] #479 closed

[2018-11-14 12:42] bdhess commented on #614
Currently working on porting the Cloud KMS Java samples from the Apiary client to the GAPIC clients, and this is a gap.  I'm looking for this to be exposed in ClientSettings as well, so that we don't lose this functionality-- we have Apiary clients that are setting it, and therefore helping us to get useful metrics (see e.g. [Tink](https://github.com/google/tink/blob/c1f582ebdbdf6a35d42f1dc4a49329

[2018-11-15 14:55] garrettjonesgoogle commented on #614
As the comment says ("only merging with gRPC default value for User-Agent is permitted"), the user-agent value is merged with the grpc one.

Assigning to @vam-google for any follow-up questions.

[2018-11-15 17:47] songy23 commented on #614
Thanks @garrettjonesgoogle for the explanation. I think my question is answered. Since @bdhess mentioned you want to add the `WithUserAgent()` option to `ClientSettings`, this issue can be left open to keep track of the progress of that. (Or you can open a new issue and close this one.)

[2018-11-21 14:23] elharo opened #620 "Upgrade google-auth-library-oauth2-http"
Hitting this in a dependent project

[code]

[2018-11-21 15:44] #620 closed

[2018-12-06 15:58] sduskis commented on #489
@kolea2, are you taking this one?

[2018-12-06 16:37] kolea2 commented on #489
@sduskis yep can take a look!

[2018-12-07 20:44] #489 closed

[2018-12-07 21:13] andreamlin opened #623 "Release latest/ docs"
Also delete the 1.35.1-SNAPSHOT docs that got uploaded.

[2018-12-07 23:02] andreamlin commented on #623
Done.

http://googleapis.github.io/gax-java/latest/apidocs/ for latest docs!

[2018-12-07 23:02] #623 closed

[2018-12-07 23:03] andreamlin commented on #489
http://googleapis.github.io/gax-java/latest/apidocs/ is now live and reference-able!
Thanks @kolea2 for the script :)

[2018-12-11 18:53] bdhess commented on #614
@sduskis - did this get deprioritized?  This functionality is fairly important for gathering good metrics.  Can we get this scheduled?

[2018-12-11 20:19] vam-google commented on #614
@bdhess, @sduskis, @songy23 I'm really confused by this issue and do not understand what we are trying to achieve here.

Yes, there are differences between Go and Java clients, there are many of them. Actually all of the clients (in all 7 languages) have many differences. Trying to make Java clients to have same surface as Go clients for a particular feature (like WithUserAgent here) does not seem

[2018-12-12 23:50] andreamlin opened #626 "Switch to using GoogleDefaultChannelBuilder"
b/120606286

[2019-01-02 17:47] #573 closed

[2019-01-02 18:01] landrito commented on #588
@andreamlin can you add a priority to this?

[2019-01-02 18:01] landrito commented on #571
@andreamlin can you add a priority to this?

[2019-01-02 18:01] landrito commented on #538
@andreamlin can you add a priority to this?

[2019-01-02 18:02] landrito commented on #474
@andreamlin can you add a priority to this?

[2019-01-02 18:03] landrito commented on #383
@andreamlin can you confirm and close this?

[2019-01-02 18:03] landrito commented on #367
@andreamlin can you add a priority to this?

[2019-01-02 18:03] landrito commented on #348
@andreamlin can you add a priority to this?

[2019-01-02 18:03] landrito commented on #282
@andreamlin can you add a priority to this?

[2019-01-02 18:04] landrito commented on #185
@andreamlin can you add a priority to this?

[2019-01-02 18:04] landrito commented on #116
@andreamlin can you add a priority to this?

[2019-01-02 18:05] landrito commented on #626
@andreamlin any updates?

[2019-01-02 18:06] landrito commented on #543
@vam-google any updates on this?

[2019-01-02 22:05] andreamlin commented on #588
@sduskis do you want to reprioritize?

[2019-01-02 22:10] andreamlin commented on #282
Looking at the current state of the gax-java codebase, it seems we don't use the `System.err` channel needlessly any more. Closing this out.

[2019-01-02 22:10] #282 closed

[2019-01-02 22:14] andreamlin commented on #383
Thanks @igorbernstein2 !

[2019-01-02 22:14] #383 closed

[2019-01-02 22:55] andreamlin commented on #538
Sounds like this is fixed by your PR https://github.com/googleapis/gax-java/pull/536 :)
so I'll close it out.

[2019-01-02 22:55] #538 closed

[2019-01-04 12:40] nwbirnie opened #638 "Adding interceptors to TransportChannelProvider"
Interceptors currently have to be specified on an implementation of `TransportChannelProvider`, e.g. [`InstantiatingGrpcChannelProvider`](https://github.com/googleapis/gax-java/blob/f0721dd0a5537389865c76af86fd3efca42ae78d/gax-grpc/src/main/java/com/google/api/gax/grpc/InstantiatingGrpcChannelProvider.java#L374).

What do you think about adding methods to `TransportChannelProvider` to set intercep

[2019-01-04 21:50] vam-google commented on #543
@zhengzhu88 This behavior is by design.

I believe that the default values for the batching properties have to be `null`, requiring setting all the threasholds before calling `.build()` on the builder (otherwise it would fail). It looks like it used to be the case.

Then the default values were chaned to "no batching by default", see [#2542](https://github.com/googleapis/google-cloud-java/issues/2

[2019-01-07 17:57] vam-google commented on #638
Hi @nwbirnie,
This looks doable, since `TransportChannelProvider` is `@InternalExtensionOnly` and  `GrpcInterceptorProvider` and `LocalChannelProvider` are `@BetaApi` (so we can add extensions without formally breaking  backward compatibility).

At the same time, this will also require "shading" `io.grpc.ClientInterceptor` (wrapping it in some other class, so  `TransportChannelProvider` can stay u

[2019-01-08 16:29] #584 closed, assigned to vam-google

[2019-01-10 18:16] vam-google commented on #543
This was fixed by providing proper documentation for `BatchingSettings` in #639. Closing

[2019-01-10 18:16] #543 closed

[2019-01-10 18:34] igorbernstein2 commented on #561
Minor updates:
Bug 1+2 were fixed in #592.

When implementing the feature request, care should be taken to limit the rpc timeout to the remaining overall timeout. This will allow users to simply set the overall timeout and not worry about the rpc timeouts or hung rpcs overrunning the overall timeout

[2019-01-21 17:21] nwbirnie commented on #638
So the motivation here is testing. I'm using MockServiceHelper and LocalChannelProvider to test headers being sent in RPCs. I'd like to expand the test scope to include interceptors. Is there another way to test that interceptors are being invoked in unit tests?

In terms of the shading approach, I don't think this is so bad - we're effectively doing the same thing for headers/endpoints etc. excep

[2019-01-23 21:18] #626 closed

[2019-01-31 18:34] ejona86 opened #649 "GoogleDefaultChannelBuilder does not support user-supplied CallCredentials"
As mentioned in https://github.com/grpc/grpc-java/issues/5303, GoogleDefaultChannelBuilder will override any user-specified CallCredentials (throw them away).

Since it appears you let users specify CallCredentials, https://github.com/googleapis/gax-java/pull/627 should probably be "reverted" for the moment.

Ideally it wouldn't be 100% reverted, because it did two changes: migrated off of experim

[2019-01-31 18:40] andreamlin commented on #649
ack

[2019-02-11 14:16] sduskis opened #661 "Upgrade to grpc 1.18.0"

[2019-02-11 16:43] nwbirnie opened #662 "Use consistent version of dependencies"
Gax currently depends on inconsistent versions of grpc-google-common-protos:

[code]

Would it be possible to use a consistent version of the common protos? Perhaps mirroring the grpc-protobuf dependency version (1.12.0).

[2019-02-11 16:52] nwbirnie commented on #662
Additionally, google-auth-library-credentials also has multiple versions declared:

[code]

Looks like here we're using a later version vs. grpc-auth.

[2019-02-11 17:25] sduskis commented on #662
It should be fine for our repository to use newer versions of dependencies than the `io.grpc` libraries, which are older.  If you'd like, you can ask for updates in https://github.com/grpc/grpc-java.

May I ask, why should this be an issue?  Are you looking for dependency convergence?

[2019-02-11 19:03] eoogbe commented on #661
@andreamlin Can you assign a priority?

[2019-02-12 19:08] #661 closed

[2019-02-12 21:10] sduskis commented on #662
@elharo, fyi

[2019-02-12 21:55] elharo commented on #662
gax-grpc is now at 1.38.0 which pulls in io.grpc:grpc-protobuf:1.17.1. The first thing I'd try would be upgrading to the latest GAX and see if that reduces the issue.

[2019-02-15 17:20] #488 closed

[2019-02-22 01:58] vam-google opened #681 "Fix 'x-goog-api-client' HTTP header when executed from Bazel build"
[GaxGrpcProperties](https://github.com/googleapis/gax-java/blob/master/gax-grpc/src/main/java/com/google/api/gax/grpc/GaxGrpcProperties.java#L44) extracts versions of the relevant libraries (specifically `gax` and `grpc`) to put them in `x-goog-api-client` header for versions reporting. Currently the values are extracted from `MANIFEST.MF` file using Java core built-in mechanism (by calling `java.

[2019-03-01 18:16] vam-google opened #687 "Add a test in TracedClientStreamingCallableTest for call context propagation"
`TracedClientStreamingCallableTest#FakeClientCallable#callContext` is never read now.

[2019-03-12 22:25] andreamlin commented on #662
@nwbirnie Did updating to the latest versions solve this issue?

[2019-03-12 22:28] andreamlin commented on #649
Fixed in https://github.com/googleapis/gax-java/pull/627. Closing.

[2019-03-12 22:28] #649 closed

[2019-03-27 23:44] saturnism opened #699 "GrpcTransportChannel.close blocks for up to 6 minutes"
https://github.com/googleapis/gax-java/blob/v1.43.0/gax-grpc/src/main/java/com/google/api/gax/grpc/GrpcTransportChannel.java#L96

Is there a reason to set such a high termination time out?

[2019-03-28 02:03] ajaaym commented on #699
@saturnism please see this PR #628 for more detail. It doesn't wait for 6 min, if there is no pending rpc. Normally there wouldn't be any pending rpc when application is shutting down.

[2019-04-04 12:12] elharo opened #700 "Clean up testlib artifact"
The testlib jar published on maven central in https://repo1.maven.org/maven2/com/google/api/gax/ appears to contain both unit tests and test infrastructure. These should be split. The unit tests should not be published to maven central. Supported test infrastructure that is intended for use by external clients should be published. However it should be separated from GAX's own tests in the source r

[2019-04-04 20:05] elharo commented on #662
The proto issues mentioned here have been cured as of or before 1.43.0. However there are still some convergence issues that should be fixable:

[code]

[2019-04-04 20:08] elharo commented on #662
Most critical issue is pushing a new api-common release. See https://github.com/googleapis/api-common-java/issues/74

[2019-04-05 16:06] garrettjonesgoogle opened #702 "Remove @BetaApi from LRO and streaming classes"
The LRO & Streaming classes (client streaming, server streaming, bidi streaming) haven't been changed for a while, so we should remove `@BetaApi` so that they are considered stable.

[2019-04-08 17:07] vam-google commented on #699
@andreamlin, @saturnism Looks like according to the [relevant PR comments](https://github.com/googleapis/gax-java/pull/628#pullrequestreview-189453860) the 6 minutest is a best guess number. Unless there is a better number for this, I would propose closing this issue.

[2019-04-09 18:15] andreamlin commented on #702
ack

[2019-04-09 18:21] elharo opened #703 "Remove dependency on Apache Commons"
Seems to be used in exactly one test class for purpose that can easily be managed by hand, or Guava if we absolutely must

gax-grpc/src/test/java/com/google/api/gax/grpc/SettingsTest.java

@org_apache_commons_commons_lang3//jar"

[2019-04-09 18:30] andreamlin commented on #702
i would want to regenerate the LRO client first before taking the `@BetaApi` annotation off those files

[2019-04-11 15:29] sduskis commented on #588
@andreamlin, the Yoshi team asks that only bugs get priority labels.

[2019-04-24 17:59] andreamlin opened #708 "Separate out test package from src package"

[2019-05-10 03:53] oto0 opened #711 "Broken setSimpleTimeoutNoRetries()"
The UnaryCallSettings .Builder.setSimpleTimeoutNoRetries() seems broken as the timeout doesn't work and the call defaults to something else as default. The cause seems to be as it clears retryable codes (setRetryableCodes()) + setMaxAttempts(1) [1].

This set of retry settings leads to clearing of retry settings of the Callables [2] so the timeout is cleared and defaults.

Same issue supposed to h

[2019-05-10 05:06] oto0 commented on #711
A repro code on vision api client can be found here:

https://github.com/oto0/java-docs-samples/blob/master/vision/cloud-client/src/main/java/com/example/vision/QuickstartSample.java

[2019-05-13 18:01] eoogbe commented on #711
@andreamlin Can you triage this issue?

[2019-05-13 19:51] andreamlin commented on #711
@oto0 Thanks for filing this issue! I'll open a PR.

[2019-05-13 20:31] igorbernstein2 commented on #711
@oto0, I apologize if I'm being dense, but can you describe the incorrect behavior? I understand that `setSimpleTimeoutNoRetries()` sets the `MaxAttempts` to 1, which removes the `RetryingCallable` from the callable chain. But I don't quite understand the undesirable behavior this results in.

[2019-05-13 22:38] oto0 commented on #711
@igorbernstein2, sorry to clarify, I jumped to the code directly; I updated the first message.

The issue is the passed timeout duration is ignored and doesn't timeout the call as expected. It raises deadline exception after another duration, seems something default.

[2019-05-14 14:57] igorbernstein2 commented on #711
I think this goes hand in hand with #561 and speaks to a more general problem between the retry infrastructure and deadlines.
TotalTimeout is not actually used for deadlines, it's only used by the TimedRetryAlgorithm to limit the number of retry attempts. So simply re-enabling the RetryCallable will not fix the problem.

Awhile ago I started hacking on a fix to the general problem, but other prior

[2019-05-15 23:13] #711 closed

[2019-05-20 17:06] #687 closed

[2019-06-06 19:07] vam-google commented on #681
This was fixed

[2019-06-06 19:07] #681 closed

[2019-06-10 20:45] chingor13 opened #732 "Missing published javadocs for 1.45.0"

[2019-06-14 19:28] #708 closed

[2019-06-14 19:28] #699 closed

[2019-06-21 21:38] chingor13 commented on #290
Javadocs have been aggregating for a while now.

[2019-06-21 21:38] #290 closed

[2019-06-22 13:06] AbhideepChakravarty opened #743 "google-cloud-logging-logback gives com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;J)V when it is used with firebase-admin:6.0.0"
Please look at the #5547 at https://github.com/googleapis/google-cloud-java/issues/5547

It ends with gax error.

[2019-06-24 18:48] vam-google commented on #743
@AbhideepChakravarty gax just happens to be on the top of the stacktrace, but it must be a guava version mismatch. I will have to close this bug as a duplicate, because it is not directly related to gax itself, but to how it is used in the context of `google-coud-java` and `firebase-admin-java` (which are developed separately by different teams and as a result are not tested for compatibility).

T

[2019-06-24 18:48] #743 closed

[2019-06-24 19:17] AbhideepChakravarty commented on #743
That's strange. When I remove the logback dependency everything works, with Guava-28.0-jre!! In Payara, unless the jars are not whitelisted, they are not used from server, but used from application i.e. 28.0-jre.

And why everything is tested with Guava-26.0-android? Was it assumed that gax will only be used in android , not in Java backend? Or why gax is not released as gax-x.y.z-android and gax-

[2019-06-24 20:59] chingor13 commented on #743
The android flavor of guava is used for Java 7 support.

[2019-06-27 22:56] chingor13 opened #749 "Default timeout for non-retryable endpoints breaks some clients"
e.g. googleapis/google-cloud-java#5555

[2019-06-27 22:59] chingor13 commented on #749
Fixed in #745
Released in 1.47.0 #747

[2019-06-27 22:59] #749 closed

[2019-06-27 23:00] chingor13 commented on #732
They are now available here: https://googleapis.dev/java/gax/1.45.0/

[2019-06-27 23:00] #732 closed

[2019-07-12 20:45] chingor13 opened #761 "(Re-)Start publishing SNAPSHOT builds nightly"
This will help us detect downstream breakage before releasing the library

[2019-07-16 17:25] igorbernstein2 opened #762 "directpath integration should enable grpclb"
While testing directpath, I noticed that setting GOOGLE_CLOUD_ENABLE_DIRECT_PATH=my-service is not enough because grpc does not enable grpclb by default and requires the system property `io.grpc.internal.DnsNameResolverProvider.enable_grpclb=true`. Otherwise all of the requests will fail with an INTERNAL error code

[2019-07-16 17:34] igorbernstein2 opened #763 "Channel Pool is not compatible with directpath"
gax channel pool is implemented at the channel level, however directpath channel pool is implemented at the subchannel level. When combined, the effect is multiplicative.
I don't think this can be fixed via static configuration because grpc can switch between cfes and directpath during runtime.

Maybe gax channel pooling should be pushed down into the subchannel level?

[2019-07-16 17:51] igorbernstein2 commented on #762
Also of note: the value of the system property is read only once when the class DnsNameResolver is loaded which will make it hard to tie it to `GOOGLE_CLOUD_ENABLE_DIRECT_PATH`

[2019-07-18 22:12] hzyi-google opened #764 "Support StreamingCallSettings for BidiStreamingCalls"
`StreamingCallSettings` are ignored in creating a `bidiStreamingCallable`: https://github.com/googleapis/gax-java/blob/5fd82c7058bf780dacbf0127cc5b4f74fd4a9800/gax-grpc/src/main/java/com/google/api/gax/grpc/GrpcCallableFactory.java#L231-L248

[2019-08-12 21:10] meltsufin opened #773 "How to provide backpressure when using ApiStreamObserver?"
You can use the async GRPC client stub and pass in a `ClientResponseObserver` in place of the `StreamObserver`, which has an additional method called `beforeStart` that provides a `ClientCallStreamObserver` that has the `request(count)` method.
However, I cannot find a similar `request(count)` method in `ApiStreamObserver` to provide backpressure.

[2019-08-13 21:41] chingor13 opened #774 "Allow custom NameResolverProvider"
See: https://github.com/googleapis/google-cloud-java/issues/6051

The user wishes to use a custom name resolver which is supported by gRPC (see [example](https://github.com/saturnism/grpc-java-by-example/blob/b3ae7a6fedc439ef97f39aab17d42b98175273ce/kubernetes-lb-example/echo-client-lb-api/src/main/java/com/example/grpc/client/ClientSideLoadBalancedEchoClient.java#L49-L53))

[2019-08-13 22:54] ST-DDT commented on #774
My wish is actually that the lib still works with the default config even if a custom `NameResolverProvider` (with a higher priority) is present on the classpath.

The priority of the `NameResolverProvider` is only relevant for the default scheme selection (because google-cloud-java doesn't specify one).

[2019-08-15 14:29] igorbernstein2 commented on #763
After chatting with grpc folks, we decided to keep the gax channel pool as is and update the directpath service config to use pick first

[2019-08-15 14:29] #763 closed

[2019-08-19 20:56] software-dov commented on #773
@vam-google @hzyi-google please triage or redirect.

[2019-08-19 21:05] hzyi-google commented on #773
Please bump if necessary.

[2019-08-20 15:15] igorbernstein2 commented on #703
Can you clarify the harm this is causing? The implementation is nontrivial and commons-lang is scoped to the test classpath, so we aren't leaking it to our users.

[2019-08-20 15:32] elharo commented on #703
This isn't a major issue, but it is good to avoid excess dependencies where possible:

https://github.com/GoogleCloudPlatform/cloud-opensource-java/blob/master/library-best-practices/JLBP-1.md

Specifically, there was an internal effort a few years ago to get off of Apache commons completely in google3.

[2019-08-20 15:50] igorbernstein2 commented on #703
Given the current situation where:
- guava doesn't have the functionality
- implementing this generically is nontrivial
- manually writing the concrete comparisons is prone to going stale

Do you think it's worth to undertake this effort?

[2019-08-20 17:27] elharo commented on #703
It's relative to other priorities. It's not worth a major effort, but you never know when a PR is going to come out of left field from someone who figures out an easy way to do this. Issues like this are a good way to onboard new contributors.

[2019-09-03 15:28] jbolinger commented on #764
@vam-google any updates?

[2019-09-04 16:47] chingor13 opened #785 "Race condition when shutting down executor/transport channel"
`ClientContext` collects background resources to close after the `ClientContext` is closed:
* `ExecutorService` (`ExecutorAsBackgroundResource`)
* `TransportChannel`

When `GrpcOperationsStub#close()` is called, it calls `shutdown()` on an aggregation of the `ExecutorService` and `TransportChannel` which calls `shutdown()` on these resources in order. Since `shutdown` does not block and initiates

[2019-09-26 02:30] elharo opened #793 "Update Travis ubuntu version"
This job ran on our Precise environment, which is in the process of being decommissioned. Please update to a newer Ubuntu version by specifying dist: xenial in your .travis.yml.

[2019-09-27 18:07] vam-google commented on #785
Should be fixed by https://github.com/googleapis/gax-java/pull/787.

[2019-09-27 18:07] #785 closed

[2019-10-11 14:20] #793 closed

[2019-10-14 18:56] software-dov commented on #764
@vam-google any update?

[2019-10-16 18:07] tonytanger opened #804 "Allow ChannelPool to refresh its channels and perform actions during channel creation to prime channels"
Long lived connections gets torn down periodically by the server forcing clients to reconnect. The first request that establishes the connection can often be expensive because it might need to perform tasks such as TCP/TLS handshake, auth, cache warmup, etc. Due to the abrupt disconnect and expensive initial request, the client sees a spike in latency.

It would be nice to have the capability from

[2019-11-02 10:37] elharo commented on #804
How long does this really take? If it's only every 55 minutes, I'm not sure this optimization buys us much.

[2019-11-27 13:37] elharo opened #822 "GaxProperties.getLIbraryVersion probably doesn't work on Android"
This was reported by a user of http-java-client which uses the same logic:

https://github.com/googleapis/google-http-java-client/issues/892

[2019-11-27 23:42] failure-checker[bot] opened #823 "Warning: a recent release failed"
The release PR #736 is still in a pending state after several hours

[2019-12-03 22:41] elharo opened #825 "AbstractMethodError: Receiver class com.google.api.gax.grpc.InstantiatingGrpcChannelProvider does not define or inherit an implementation of the resolved method abstract needsCredentials()Z of interface com.google.api.gax.rpc.TransportChannelProvider"
See https://github.com/googleapis/google-cloud-java/issues/6963#issuecomment-561353364

Caused by: java.lang.AbstractMethodError: Receiver class com.google.api.gax.grpc.InstantiatingGrpcChannelProvider does not define or inherit an implementation of the resolved method abstract needsCredentials()Z of interface com.google.api.gax.rpc.TransportChannelProvider.
	at com.google.api.gax.rpc.ClientContex

[2019-12-04 11:12] elharo commented on #825
I think I figured this one out. Problem was gax-grpc, not gax.

[2019-12-04 11:12] #825 closed

[2019-12-06 22:15] igorbernstein2 opened #827 "ExponentialRetryAlgorithm allow retries when setting maxAttempts w/o setting TotalTimeout"
When a user configures a client with the following RetrySettings:

[code]

Their expectation is that if an rpc fails, then there will be 2 attempts for retries. However, the default value for RetrySettings.getTotalTimeout is 0, which causes the ExponentialRetryAlgorithm to never retry.

[2019-12-09 15:41] igorbernstein2 opened #828 "Fix WatchDog leak"
WatchDog instances don't currently implement BackgroundResource, which means that they never get unscheduled when the client closes

[2019-12-12 00:40] vam-google commented on #804
It was designed and implemented by @tonytanger, reviewed by @igorbernstein2 and @vam-google . Verified with @igorbernstein2 that the issue can be closed.

[2019-12-12 00:40] #804 closed

[2019-12-12 01:28] vam-google commented on #703
@elharo Unfortunately even if we manage to implement the `SettingsTest.java` class without `@org_apache_commons_commons_lang3//jar` we will still not be able to get rid of the dependency itself.

Apparently we depend on it transitively (and it is the main artifact compile-time dependency, not even test-only) via gRPC's [@io_grpc_grpc_java//alts:alts](https://github.com/googleapis/gax-java/blob/mas

[2019-12-12 01:28] #703 closed

[2019-12-12 01:47] vam-google commented on #662
@elharo That PR [googleapis/api-common-java#74](https://github.com/googleapis/api-common-java/issues/74) was pushed. Do you have any updates on this issue? Can it be closed?

[2019-12-12 13:59] elharo commented on #662
We could make slight progress by releasing and updating to new versions of api-common and google-oauth2-http-client. However full convergence is impossible unless we rip out OpenCensus. Perhaps we oculd add some exclusions to fix that.

[2019-12-12 14:02] #662 closed

[2019-12-12 14:06] elharo opened #829 "Watchdog is internal but uses aren't"
Watchdog is marked internal but various places that use it aren't. e.g. `gax/src/main/java/com/google/api/gax/rpc/FixedWatchdogProvider.java`

[code]

Internal APIs should only appear on the surface of other internal APIs.

[2019-12-12 14:28] elharo commented on #828
Are you suggesting Watcgdog itself should implement BackgroundResource or all implementations of it should?

[2019-12-12 14:28] #823 closed

[2019-12-12 17:00] failure-checker[bot] opened #830 "Warning: a recent release failed"
The release PR #736 is still in a pending state after several hours

[2019-12-12 17:14] igorbernstein2 commented on #828
The rough idea is:
- Watchdog implements BackgroundResource
- on shutdown, the Watchdog unschedules itself from the scheduled executor
- Watchdog provider gets a new method `shouldAutoClose()`
- FixedWatchdogProvider returns false for `shouldAutoClose()`
- InstantiatingWatchdogProvider returns true for `shouldAutoClose()`
- ClientContext checks if the watchdog needs to be autoclosed and adds it to

[2019-12-12 17:16] elharo commented on #828
Sounds reasonable. Just watch out for breaking changes to the API. Also it might help to resolve #829 first.

[2019-12-12 17:59] igorbernstein2 commented on #829
This is blocked on refactoring of ClientContext. I think ClientContext is supposed form the core of an autogenerated stub and contains stateful things like channels, credentials, executor, and the watchdog. This class is currently part of the public api, so unless that class becomes internal or another mechanism is introduced to store internal state, I don't really have a way forward.

[2019-12-12 18:01] igorbernstein2 commented on #829
Everything related to the watchdog is either internal or beta, so we are pretty safe. However I don't think that this is p1 bug, as I mentioned earlier,  the cleanup does happen by side effect.

[2019-12-12 19:22] elharo commented on #829
@Beta != @Internal and the same class can be marked as both.
This is pretty important or we're going to get locked into APIs we don't want and can't change. If we don't fix this now, we might well never be allowed to.

[2019-12-12 20:11] vam-google commented on #762
@igorbernstein2 Do you suggest that setting `GOOGLE_CLOUD_ENABLE_DIRECT_PATH` should automatically set `io.grpc.internal.DnsNameResolverProvider.enable_grpclb=true`? I guess it is not going to be possible (due to the fact you mention in the comment). I guess the situation is even more weird on grpc side. Grpc seems like having different default values for the system property in different parts of

[2019-12-12 22:12] igorbernstein2 commented on #762
As off grpc 1.25.0, this is no longer needed ... the grpclb property is enabled by default

[2019-12-12 22:12] #762 closed

[2019-12-12 22:18] igorbernstein2 commented on #829
I agree that this should be fixed before we remove the Beta api labels. However since no one has expressed time pressure for removing the labels and since this doesn't have negative effects on current users, I don't think fixing this should pre-empt existing priorities.

[2019-12-13 00:28] xiaozhenliu-gg5 commented on #348
Does this still need attention?

[2019-12-13 12:08] elharo commented on #474
This is likely an API breaking change and a major version update. Is it worth that?

[2019-12-13 12:11] elharo commented on #348
We don't seem to have any samples there now. I'm not sure how important it is to write some. If external users don't write a lot of code to this API directly, I'd say delete the directory and close the issue.

[2019-12-13 15:12] igorbernstein2 commented on #474
I don’t think it’s worth doing a major version bump for this, but I would argue that if a major version were to happen, this should be included.
Maybe this can be included in a v2 hotlist?

[2019-12-13 19:23] xiaozhenliu-gg5 commented on #348
thanks for the suggestion, I think users usually don't use this code directly and also `pom.xml` in `samples` folder is the sample file for setting up API client by maven. Close it now, if we have plans to add new samples, we will reopen this, thanks!

[2019-12-13 19:30] #348 closed

[2019-12-27 17:45] #827 closed

[2020-01-07 16:53] #828 closed

[2020-01-08 18:06] #830 closed

[2020-01-08 19:00] failure-checker[bot] opened #839 "Warning: a recent release failed"
The release PR #736 is still in a pending state after several hours

[2020-01-09 18:58] #839 closed

[2020-01-09 19:00] failure-checker[bot] opened #842 "Warning: a recent release failed"
The release PR #814 is still in a pending state after several hours

[2020-01-09 19:11] #842 closed

[2020-01-09 20:00] failure-checker[bot] opened #844 "Warning: a recent release failed"
The release PR #784 is still in a pending state after several hours

[2020-01-09 20:34] #844 closed

[2020-01-09 22:02] elharo opened #845 "Update protobuf and gRPC dependencies"

[2020-01-23 12:52] rahulKQL opened #857 "Clean up deprecated methods from test"
Found some deprecation warnings with current master:

[code]

[2020-01-23 18:29] rahulKQL opened #859 "Update java docs to clarify thread safety of the client"
This issue was originally reported under [java-bigtable#114](https://github.com/googleapis/java-bigtable/issues/114).

[2020-01-29 21:11] briantopping opened #860 "c.g.a.g.r.Watchdog getting wrapped by sleuth.instrument.async.TraceRunnable"
When Sleuth is used with GCP Pub/Sub (or presumably any gRPC client), the gRPC `Watchdog` class is getting wrapped by Sleuth's `TraceRunnable`. This causes a steady stream of spurious traces recorded with a URL of `async`. I'm guessing it's an issue with accidental consumption of the `TraceableExecutorService` registered by Sleuth, which will wrap submitted `Runnable` and `Callable` with proxies t

[2020-01-31 02:00] failure-checker[bot] opened #863 "Warning: a recent release failed"
The release PR #862 is still in a pending state after several hours

[2020-01-31 17:33] #863 closed

[2020-01-31 21:44] #859 closed

[2020-02-04 18:50] rahulKQL opened #865 "Gradle build fails in Open-JDK-11 bcoz google-java-format plugin and jacoco"
Gradle build for [latest checkout](https://github.com/googleapis/gax-java/tree/ee90c2cd05c8bc309bab2a42aa6a99ba79bb72bc) is failing in `OpenJDK-11` because of an older version of [gradle.plugin.com.github.sherter.google-java-format:google-java-format-gradle-plugin:0.6](https://github.com/googleapis/gax-java/blob/ee90c2cd05c8bc309bab2a42aa6a99ba79bb72bc/build.gradle#L18). This version is not compat

[2020-02-04 19:02] rahulKQL commented on #865
It seems `google-java-format-gradle-plugin:0.8` internally uses `com.google.googlejavaformat:google-java-format:1.6`, With absence of root `repositories` it fails to find this particular dependencies.

[code]

[2020-02-10 01:01] suztomo opened #867 "Gradle version 6"
I’m thinking to upgrade Gradle version of this repository. From 4 to 6.
Good exercise for me to learn Gradle.

Steps

- Upgrade plugin versions up to the ones that are compatible with Gradle 4 and 6.
  If a plugin upgrade involves non-trivial change, then create a independent PR.
- Upgrade Gradle version

[2020-02-10 21:43] suztomo commented on #867
`com.google.common.util.concurrent.ExecutionError: java.lang.NoClassDefFoundError: org/gradle/api/internal/java/JavaLibrary`

[code]

[2020-02-10 22:06] suztomo commented on #867
Upgraded plugins versions and these errors are gone.

Next error is on `apt` (annotation processor)

[code]

The line has

[code]

where dependencies.property has `maven.com_google_auto_value_auto_value=com.google.auto.value:auto-value:1.4`

https://stackoverflow.com/questions/42441844/annotation-processor-in-intellij-and-gradle/54611475#54611475

[2020-02-10 22:17] suztomo commented on #867
assemble works but not build.

[code]

[code]

[2020-02-13 05:29] chrisribble opened #870 "WatchDog shuts down ExecutorService from FixedExecutorProvider"
#838 modified WatchDog to implement BackgroundResource and to track a Future for the work scheduled via the ExecutorService so that it can be cancelled. This is perfectly reasonable, but WatchDog.shutdown also calls ExecutorService.shutdown

This is problematic when you provide a FixedExecutorProvider to ClientContex.create since it uses the same ExecutorService instance (from the ExecutorProvider

[2020-02-13 06:42] igorbernstein2 commented on #870
I think the first option makes the most sense. ClientContext should be the primary owner of the executor

[2020-02-19 21:39] hkdevandla commented on #829
Hi Hanzhen, can you please take a look at this? Thanks!

[2020-02-19 22:44] hzyi-google commented on #829
Okay this is an awkward situation here...

Ideally as what @elharo has described we should have marked `Watchdog` as both `@BetaApi` and `@InternalApi`, and remove `@InternalApi` once `ClientContext` starts to expose it on the surface.

How bad would it be if we change `Watchdog` from `@InternalApi` to `BetaApi`?

Or rather, @igorbernstein2 how is `Watchdog` used from `ClientContext`? Is it only u

[2020-02-20 17:57] igorbernstein2 commented on #829
End users should not interact with the Watchdog directly. End users are supposed to configure settings for the Watchdog via StubSettings#setStreamWatchdogCheckInterval. And the Watchdog is created internally by the client. I don't really see how you can remove the watchdog methods from ClientContext since the watchdog is needed by [GrpcCallableFactory](https://github.com/googleapis/gax-java/blob/m

[2020-02-20 18:22] hzyi-google commented on #829
Thanks @igorbernstein2 . Can we get away with marking these classes as internal without a major bump? Or, is there any formal process for such breaking changes as making a public stable class  internal (like deprecating a method or class) until we are ready for the next major version?

[2020-02-20 18:42] igorbernstein2 commented on #829
You can mark the WatchdogProvider implementations as Internal since they are BetaApi. However ClientContext is GA, so I don't think you can change that.

Also, please note that I don't have decision powers on the gax changes. I think someone from the actools team would be a better candidate for discussing the direction of the api surface. I'm mainly a consumer of the library for bigtable.

[2020-02-21 23:51] hzyi-google commented on #829
Hey @vam-google can you weigh in?

[2020-02-27 05:58] rahulKQL commented on #865
This is addressed via #868 and #883, Hence closing the issue.

[2020-02-27 05:58] #865 closed

[2020-02-27 16:18] #845 closed

[2020-02-27 17:04] elharo opened #888 "SpotBugs"
per @lesv we should replace FindBusg with SpotBugs

[2020-03-02 19:55] vam-google commented on #888
@elharo @lesv Can you please provide more context here? I.e. why should we do it?

[2020-03-02 20:51] lesv commented on #888
https://gleclaire.github.io/findbugs-maven-plugin/ <== Talks about Findbugs no longer being maintained.

https://spotbugs.github.io/ is the recommended replacement.

[2020-03-02 21:11] elharo commented on #888
SpotBugs requires Java 8 so we have to be careful how we configure the profiles.

[2020-03-02 21:11] elharo commented on #888
Gradle instructions: https://spotbugs.readthedocs.io/en/stable/gradle.html

[2020-03-11 21:40] devchas opened #965 "UnaryCallable.call(request) never returns if access token cannot be obtained"
I am working on [this bug](https://github.com/googleads/google-ads-java/issues/169) in the Google Ads client library for Java. I have narrowed the cause to the fact that `UnaryCallable.call(request)` never returns when instantiated with `RequestT` of `SearchGoogleAdsRequest` and `ResponseT` of `GoogleAdsServiceClient.SearchedPageResponse` *IF* the access token cannot be created (e.g. if the refres

[2020-03-12 10:18] elharo opened #973 "Java 7 CI broken"
some sort of cert issue. Not a huge surprise. The Java 7 TLS certs are a little out of date. We might just need to update the java image we use to Zulu or some such.

* What went wrong:
A problem occurred configuring root project 'gax-java'.

     Required by:
         project :

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. R

[2020-03-27 23:00] failure-checker[bot] opened #991 "Warning: a recent release failed"
The release PR #990 is still in a pending state after several hours

[2020-03-29 14:49] elharo commented on #973
see
https://github.com/travis-ci/travis-ci/issues/8503
https://github.com/travis-ci/travis-ci/issues/8574
https://github.com/eseifert/gral/commit/c24e08a91952a99b8c8b686a1b172335db8cdf87

[2020-03-29 14:57] elharo commented on #973
https://travis-ci.community/t/zulu-jdk-7-availability-to-replace-openjdk/7884

[2020-03-31 20:09] elharo opened #1001 "Renovate should revise dependencies.properties"

[2020-04-01 17:47] suztomo commented on #867
Resuming this. Tried `./gradlew wrapper --gradle-version 5.0` and failed:

[code]

[2020-04-01 17:59] suztomo commented on #867
[code]

[2020-04-01 19:00] suztomo commented on #973
I also encountered another Java 7 problem: Gradle 5 needs Java 8 or later https://github.com/googleapis/gax-java/pull/1002

[2020-04-01 23:14] vam-google commented on #1001
@elharo Please clarify what that means.
@summer-ji-eng @chingor13 Should it be assigned to yoshi team?

[2020-04-02 00:15] elharo commented on #1001
This file: https://github.com/googleapis/gax-java/blob/master/dependencies.properties

should be updated by Renovate. Right now renovate only suggests updates t gradle plugins but does not update the project's dependencies because it does not see dependencies.properties

[2020-04-02 16:48] suztomo commented on #867
With https://github.com/googleapis/gax-java/pull/1002 CI failure, now I know that Gradle 5 requires Java 8 runtime.

[2020-04-07 20:35] elharo opened #1016 "Install linkage monitor"

[2020-04-10 06:54] #857 closed

[2020-04-14 20:35] suztomo commented on #1016
Linkage "Checker".

With exclusion rules for existing errors in https://source.cloud.google.com/results/invocations/13768b69-afec-4a10-a675-30a28f56b972/targets/cloud-devrel%2Fclient-libraries%2Fjava%2Fgax-java%2Fpresubmit%2Fjava8/log.

The above might find a genuine error:

[code]

[2020-04-30 22:17] radhikakale commented on #825
I am facing similar issue .

Error details .

java.lang.AbstractMethodError: com.google.api.gax.grpc.InstantiatingGrpcChannelProvider.needsCredentials()Z

	at com.google.api.gax.rpc.ClientContext.create(ClientContext.java:152)
	at com.google.cloud.pubsub.v1.stub.GrpcPublisherStub.create(GrpcPublisherStub.java:164)
	at com.google.cloud.pubsub.v1.Publisher.<init>(Publisher.java:187)
	at com.google.c

[2020-04-30 22:19] radhikakale opened #1030 "java.lang.AbstractMethodError: com.google.api.gax.grpc.InstantiatingGrpcChannelProvider.needsCredentials()Z"
I am facing similar issue .

Error details .

java.lang.AbstractMethodError: com.google.api.gax.grpc.InstantiatingGrpcChannelProvider.needsCredentials()Z

	at com.google.api.gax.rpc.ClientContext.create(ClientContext.java:152)
	at com.google.cloud.pubsub.v1.stub.GrpcPublisherStub.create(GrpcPublisherStub.java:164)
	at com.google.cloud.pubsub.v1.Publisher.<init>(Publisher.java:187)
	at com.google.c

[2020-05-01 12:13] elharo commented on #825
Please report this to beam.

[2020-05-01 15:20] igorbernstein2 commented on #825
needsCredentials was introduced in https://github.com/googleapis/gax-java/pull/707, which was released as 1.46.0. It seems like a newer client is being used with a pre-1.46.0 version gax-grpc

[2020-05-01 15:22] igorbernstein2 commented on #825
I think you can workaround the issue by using the latest gax-bom

[2020-05-01 16:09] igorbernstein2 commented on #1030
I think this is due to a version conflict between beam and pubsub. You are using a version of pubsub that requires a newer version of gax. However you list your beam dependencies first, which pulls in an older version of gax. Due to maven's `closest` dependency resolution algorithm, you end up with an old version of gax.

You should be able to fix the issue by manually resolving the version confli

[2020-05-04 20:47] miraleung commented on #822
Will look into this for the upcoming Java microgenerator work.

[2020-05-04 20:48] miraleung commented on #860
Will look into this for the upcoming Java microgenerator work.

[2020-05-06 20:46] hkdevandla commented on #1030
@radhikakale , I'm closing this bug since Igor mentioned the fix by manually resolving the version conflict. Please re-open if you still have issues. Thanks!

[2020-05-06 20:47] #1030 closed

[2020-05-12 20:10] elharo opened #1035 "Replace kokoro with Github actions"

[2020-05-14 22:17] ChuntaoLu opened #1055 "InstantiatingGrpcChannelProvider requires ScheduledExecutorService for no good reason"
The [InstantiatingGrpcChannelProvider.withExecutor](https://github.com/googleapis/gax-java/blob/master/gax-grpc/src/main/java/com/google/api/gax/grpc/InstantiatingGrpcChannelProvider.java#L120) method  requires `ScheduledExecutorService`, and similarly the [InstantiatingGrpcChannelProvider$Builder. setExecutorProvider](https://github.com/googleapis/gax-java/blob/master/gax-grpc/src/main/java/com/g

[2020-05-20 20:39] hkdevandla commented on #1055
@miraleung , can you please take a look? Thanks!

[2020-05-20 20:49] igorbernstein2 commented on #1055
I think this is a subset of the work I started here (but never finished):
https://github.com/googleapis/gax-java/pull/869/

Feel free to pull out the relevant parts from it to address this issue

[2020-05-20 20:59] hkdevandla commented on #1055
Thanks for the info. I'm wondering if this should be considered as a feature request (as it seems more like optimization). @miraleung , please let us know your thoughts.

CC'ed @vam-google

[2020-05-28 13:26] ejschoen opened #1076 "Any chance of moving to a version of netty that has CVE-2015-2156 fixed?"
Incorporating gax-grpc (e.g., through google-cloud-vision) raises security scanner issues that have to be tracked, analyzed, and explained to customers.  gax-grpc is shading netty 1.28.1.  Is it practical to move to a version that has this CVE fixed (which appears to be 3.9.8)?

[2020-05-29 20:51] ejona86 opened #1084 "Is RefreshingManagedChannel being used, or just an experiment?"
I happened on [RefreshingManagedChannel](https://github.com/googleapis/gax-java/blob/v1.56.0/gax-grpc/src/main/java/com/google/api/gax/grpc/RefreshingManagedChannel.java) added in #805, and it concerned me because re-creating the channel is heavy-weight and this may prevent future work. I'm most concerned that to my knowledge grpc team wasn't notified, since this can bite us.

Is this being used b

[2020-06-01 20:22] miraleung commented on #1076
Looks like that is already [using netty 4.1.48](https://github.com/grpc/grpc-java/blob/master/build.gradle#L52).

[2020-06-01 20:22] #1076 closed

[2020-06-01 20:30] miraleung commented on #1084
Looks like it is, see #804. Please reach out to the original reporters / authors if further discussion is needed.

[2020-06-01 20:30] #1084 closed

[2020-06-01 20:42] miraleung commented on #991
Closing as obsolete since new versions have been released since then.

[2020-06-01 20:42] #991 closed

[2020-06-01 21:00] failure-checker[bot] opened #1085 "Warning: a recent release failed"
The release PR #1014 is still in a pending state after several hours

[2020-06-01 21:05] miraleung commented on #367
Closing as WAI, since switching from BSD to Apache looks unlikely. FWIW [google-auth-library-java](https://github.com/googleapis/google-auth-library-java/blob/master/LICENSE) is also under BSD.

[2020-06-01 21:05] #367 closed

[2020-06-01 21:59] miraleung commented on #1055
FYI, [BatcherFactory](http://googleapis.github.io/gax-java/0.6.0/apidocs/com/google/api/gax/grpc/BatcherFactory.html) and [ScheduledRetryingExecutor](http://googleapis.github.io/gax-java/1.0.0/apidocs/com/google/api/gax/retrying/ScheduledRetryingExecutor.html) both take ScheduledExecutorService in their constructors, via [Callables.java](https://github.com/googleapis/gax-java/blob/master/gax/src/m

[2020-06-01 22:12] igorbernstein2 commented on #1055
@miraleung I think that gax tangles 2 unrelated executors together. I think that the roles need to untangled. The transports need an executor for immediate actions, while retries & batching need to schedule non-latency sensitive work.

There are 2 places to set the executor: stub settings and the transport provider. StubSettings will propagate its executor to both places (retries & transport). Thi

[2020-06-02 03:09] vam-google commented on #867
Minimum java version to build and run gax-java is Java 7. We can't upgrade gradle to versions which require java8+ to run. Once (if?) gax-java minimum version is upgraded to Java 8, the gradle version and plugins will be updated as part of that process.

Closing this bug. Please feel free to reopen if you disagree with the rationale above.

[2020-06-02 03:09] #867 closed

[2020-06-02 13:34] ejona86 commented on #1084
@miraleung, did you paste the wrong issue/PR? I saw the issue posted and saw the PR #805. But that just exposes an API. It is enabled if you provide a `ChannelPrimer`, which is `@InternalApi("For internal use by google-cloud-java clients only")`. The question is if there is a user of it.

Based on a search of GitHub, it appears it is only used by [CBT](https://github.com/googleapis/java-bigtable/b

[2020-06-02 18:27] miraleung commented on #1085
Checked the release and it looks fine.

[2020-06-02 18:27] #1085 closed

[2020-06-02 19:00] failure-checker[bot] opened #1092 "Warning: a recent release failed"
The release PR #1014 is still in a pending state after several hours

[2020-06-02 19:34] miraleung opened #1095 "Remove @BetaApi from batching and paging APIs"

[2020-06-02 19:40] igorbernstein2 commented on #1095
The pagination api has a couple of warts (#588, #571), any chance they can be addressed before marking them GA?

[2020-06-02 19:44] igorbernstein2 commented on #1095
Also batching api in currently in transition: we created a new batcher, but only cloud bigtable is using the new api. All clients & code generator should be migrated to the new api, and the old api should be deprecated & removed before marking batching GA

[2020-06-02 19:44] igorbernstein2 commented on #1095
@rahulKQL can you add some context to the batching status?

[2020-06-02 20:48] miraleung commented on #1092
Verified that 1.56.0 is [on Maven](https://mvnrepository.com/artifact/com.google.api/gax/1.56.0).

[2020-06-02 20:48] #1092 closed

[2020-06-02 21:00] failure-checker[bot] opened #1097 "Warning: a recent release failed"
The release PR #1014 is still in a pending state after several hours

[2020-06-02 21:48] miraleung commented on #1055
Gotcha, thanks Igor.

[2020-06-04 16:54] elharo commented on #973
seems to be fixed

[2020-06-04 16:54] #973 closed

[2020-06-04 18:04] miraleung commented on #1016
Marking as obsolete since we seem to have a linkage monitor in CI now.

[2020-06-04 18:04] #1016 closed

[2020-06-04 18:26] suztomo commented on #1016
@miraleung Thank you for cleaning up.

[2020-06-04 20:30] miraleung commented on #860
Since Sleuth is not part of this codebase, this may not be the best place for a fix. Consider adding something to their [GCP PubSub integration](https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-pubsub), since they already take a dependency on us. Alternatively, a platform-agnostic solution would be welcome here as well, in which case please feel free to reopen this iss

[2020-06-04 20:30] #860 closed

[2020-06-04 20:40] briantopping commented on #860
@miraleung Just wondering if you have any solutions in mind that would work. I would have filed this with Sleuth if I thought that would be a better place for it. I don't believe it is possible to change Sleuth to fix this, but it's been a long time since I filed and don't have a working environment for it any longer.

In any event, the workaround is there for folks and I assume that it will get f

[2020-06-05 15:35] #700 closed

[2020-06-05 19:05] #829 closed

[2020-06-05 20:59] #1055 closed

[2020-06-06 00:31] #822 closed

[2020-06-18 19:51] chingor13 opened #1131 "Unable to test end to end configuration options"
Code that glues ClientSettings to the ClientContext is generated by gapic generator making it difficult to test that configuration options make it to the transport layer.

Can we generate a test client where we can mock out the transport for testing purposes?

[2020-06-23 10:53] nwbirnie opened #1132 "Parallel requests - unexpected DEADLINE_EXCEEDED errors"
An [Ads API customer](https://github.com/googleads/google-ads-java/issues/301) reports that they are experiencing higher than expected DEADLINE_EXCEEDED errors after switching some calls to run in parallel.

They should have a separate `InstantiatingGrpcTransportChannelProvider` for each thread.

There is no sign of the `DEADLINE_EXCEEDED` error in our server logs (ESF proxy). They are sending `de

[2020-06-23 14:46] igorbernstein2 commented on #1132
Would the customer be willing to enable opencensus tracing export to stack driver?
Awhile back I implemented tracing for cloud bigtable and pushed it down into gax. The traces should give you and the customer more insight as to whats happening.

You can enable tracing in gax by:
- adding dependencies for opencensus-impl and opencensus stackdriver exporter
- enable and configure opencensus exporter

[2020-06-24 10:34] nwbirnie commented on #1132
@igorbernstein2 thank you so much for monitoring and sharing your advice - this was super helpful!

[2020-06-24 16:07] nwbirnie commented on #1132
Another thought occurs - this customer has 1 OAuth credential per request. Am I right in saying that, currently, there is no good model to allow multiple credentials to use the same `Channel`?

[2020-06-24 17:01] igorbernstein2 commented on #1132
I believe you can override the call credentials using the ApiCallContext

[2020-06-24 19:59] ramiyer opened #1133 "How does deadline in CallOptions work with Gax Retry settings?"
I am wondering how does the deadline set in GRPC CallOptions `withDeadline` play with values set in RetrySettings `com.google.api.gax.retrying.RetrySettings` in  Grpc UnaryCallable stubs. It looks like Deadlines are not reset on retries.

Also, seems like `com.google.api.gax.grpc.GrpcCallContext` has a `timeout` setting.

For example
[code]

Based on my understanding, it seems like `deadline` sett

[2020-06-26 18:02] chingor13 commented on #1131
Can we run gapic-generator on showcase within this repo so we can test against the showcase client?

[2020-07-01 14:22] igorbernstein2 commented on #1133
The semantics for deadlines and retries is a bit hard to get right. I tried to outline the issues in https://github.com/googleapis/gax-java/issues/561#issuecomment-423600114.

Currently we dont get everything right. Setting a deadline on grpc's CallOptions will create a poor experience as that isn't respected by the gax's retry infrastructure. So if have retries enabled for DEADLINE_EXCEEDED and y

[2020-07-06 16:12] devchas opened #1144 "Should global timeout override timeout in provided context?"
When calling `ServerStreamingCallable.call(request, context)` with a context set like so
[code]
the global [timeout settings override the provided context](https://github.com/googleapis/gax-java/blob/c832036436568488c2505b441fa44a9f098bcf9f/gax/src/main/java/com/google/api/gax/rpc/ServerStreamingAttemptCallable.java#L189). As a result, I cannot override global settings. Is this intended behavior,

[2020-07-06 20:07] devchas commented on #1144
Some more context after digging into this further. I've also tried altering the deadline/timeout by directly updating the call options with
[code]

It looks like after overriding the timeout as described in the previous comment, [the deadline in the call options is updated](https://github.com/googleapis/gax-java/blob/1d5dba77d90883da60798c1b2d179f8166167410/gax-grpc/src/main/java/com/google/api/ga

[2020-07-06 20:16] miraleung commented on #1131
@chingor13 Could you please provide more detail, ideally with a client lib such as [dataproc](https://github.com/googleapis/java-dataproc) so we can go over concrete examples? This would help us better understand where the codegen gap lies, and the motivating use case.

Note that we will likely skip adding this to gapic-generator, and just add it directly to [gapic-generator-java](https://github.c

[2020-07-06 21:26] chingor13 commented on #1131
@summer-ji-eng is adding a feature to override the quotaProjectId (`x-goog-user-project`) header. Within this repo, we can test that the builders are building the settings object (using `FakeClientSettings`). However, there is no `FakeClient` so we cannot instantiate a client and provide a testing `Transport` to ensure that the `ClientContext` is respecting the options we're configuring (and in th

[2020-07-07 14:26] devchas commented on #1144
I shared some additional context offline, but for the benefit of anyone following this thread, this problem only seems to occur for a `UnaryCallable` of type `RetryingCallable`. When the `UnaryCallable` is of type `ServerStreamingCallable`, the timeout settings are not overridden by the global settings.

[2020-07-07 18:31] ramiyer commented on #1133
Thanks, @igorbernstein2 for referencing the PR and the issue raised in the past. IMO #592 should be encouraged in usage than using Deadlines if retries need to work. I was merely proposing to update the javadocs to make the retry semantics clear. I will close this and follow #561

[2020-07-07 18:31] #1133 closed

[2020-07-10 10:57] nielsbasjes opened #1148 "NoCredentialsProvider does not provide a NoCredentials"
While building an application that uses PubSub I kept running into messages like this while testing against the PubSub emulator
[code]

After a lot of digging I found that the https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/core/NoCredentialsProvider.java returns a `null` when asked for the credentials.

I would have expected this provider to return an insta

[2020-07-10 18:40] ramiyer commented on #561
@igorbernstein2 As a followup from #1133, I am wondering if it makes sense to allow specifying RetrySettings in ApiCallContext/GrpcCallContext?

[2020-07-13 13:19] nielsbasjes commented on #1148
I noticed that some flows in the Google code seem to rely on the `NoCredentialsProvider` to return null.
So currently I have created 2 new classes in my project to see if I can get everything running smoothly.
These are tweaked versions of the google provided `NoCredentials` and `NoCredentialsProvider` classes.
So far this "works on my machine".
[code]
and
[code]

[2020-07-13 15:20] igorbernstein2 commented on #561
I think it would be nice to control retry behavior per call. However I'm not sure if the entirety of RetrySettings should be exposed.  I think there are currently some efforts to push retries down into the grpc layer. @vam-google can you comment on this?

[2020-07-14 19:05] noahdietz commented on #1144
@igorbernstein2, per our discussion, if you could weigh in on the code in question, we'd appreciate it.

[2020-07-15 19:11] noahdietz commented on #1144
@nwbirnie so we continue discussion about this behavior as we debug the code.

[2020-07-15 19:30] elharo opened #1151 "Update guava to 29.0-android"

[2020-07-15 20:52] hkdevandla commented on #1132
@nwbirnie, I assume this issue is related to our recent discussions around retry options. I'm closing this issue for now since we have a path forward for the fix in short term and also long term (as part of micro-generator). Please re-open otherwise. Thanks!

[2020-07-15 20:52] #1132 closed

[2020-07-17 00:59] noahdietz commented on #1144
Ok so there are two parts to this issue, if I'm understanding things:

1. A `timeout` set in a `ApiCallContext` provided by a user to the `call(request, context)` API is overwritten when a `ServerStreamingAttemptCallable` is in use (which is when there is a server streaming RPC that is has retries enabled). The code in question for that issue is in `start()` [here](https://github.com/googleapis/ga

[2020-07-17 16:10] igorbernstein2 commented on #1144
This is a bit messy and I apologize for my contributions to the messiness.

So if I understand correctly there are a few timeouts at play here:
- CallOptions.withDeadline
- GrpcApiCallContext.withDeadline
- GrpcApiCallContext. withStreamWaitTimeout
- RetrySettings.getTotalTimeout
- RetrySettings.get*RetryTimeout

and they overlap and play different roles depending on the context

As we discussed I

[2020-07-20 16:33] noahdietz commented on #1144
Ok, so the future state of exposing a new per-call Settings API is in the near/medium future. The ideal end states you've described here are valuable. There is generator work and a design to write up for this.

Immediately, can I make the change for (1) - respecting a user-provided timeout on an `ApiCallContext` in [`ServerStreamingAttemptCallable`](https://github.com/googleapis/gax-java/blob/mast

[2020-07-22 23:00] devchas commented on #965
Just checking in on this.

[2020-07-24 18:03] noahdietz commented on #1144
Ok, so #1155 fixed (1) - an `ApiCallContext` with a caller-provided timeout (i.e. `context.withTimeout()`) given to a `ServerStreamingAttemptCallable` (the concrete class used when calling a Server Streaming RPC that is configured to be retryable) will be retained, rather than overwritten.

I discussed with @igorbernstein2 offline if the same change should be made to `AttemptCallable` (used for re

[2020-07-27 19:25] hkdevandla commented on #1148
@miraleung , can you please take a look? Thanks!

[2020-07-27 20:14] nielsbasjes commented on #1148
FYI I've included the above mentioned classes I created in Apache flink to make it work smoothly with the emulator.

https://github.com/apache/flink/tree/master/flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator

[2020-07-28 15:25] rgrebski commented on #870
Should `executor.shutdownNow()` be removed from Watchdog.shutdownNow() as well ?

Since fix of #22, exactly [this line](https://github.com/googleapis/java-pubsub/pull/74/files#diff-5c59d3b131c625ad32cdcbf7e4b3ea53R308), `Subscriber.doStop` is calling background resources shutdown, resulting  with Watchdog.shutdownNow() being executed and ExecutorService being shutdown.

[2020-07-28 16:14] igorbernstein2 commented on #870
Yes, that was an oversight. Thanks for pointing it out.

[2020-08-06 17:20] chingor13 opened #1164 "v1.58.0 setting incorrect api-client header"
The `dependencies.properties` file is missing in the jar from a bad release.

[2020-08-06 20:32] #870 closed

[2020-08-06 21:59] #1164 closed

[2020-08-12 04:20] #1097 closed

[2020-08-20 11:43] nwbirnie commented on #965
Hey folks, just following up on this. Is it possible to investigate? We have a workaround available which is to use streaming instead of paging RPC. It would also be fine if this is resolved in the Java microgenerator.

[2020-08-27 05:44] bric3 opened #1173 "Make ServerStream support spliterator()"
**Affects :** 1.58.2

`ServerStream` currently doesn't allow to call the `iterator()` method more than once. However some tool that consumes this iterable may want to check the characteristics. E.g the reactor project (webflux) which is now checking the characteristics of the iterator via `Iterable.spliterator()`. However this has the side effect of invoking the default method which invokes the `i

[2020-08-28 01:05] hkdevandla commented on #1151
@miraleung , passing this on to your radar. can you make sure that dependencies are updated in the next release? Thanks!

[2020-08-28 01:24] hkdevandla commented on #1148
@nielsbasjes thanks for providing more context/example.

@miraleung , I'm turning this into feature-request and have us consider if it is something that we should fix in our code (not returning null but a placeholder credentials object) instead of clients having their custom version.

[2020-08-28 01:26] hkdevandla commented on #1173
@miraleung , mark this as feature request?

[2020-08-29 21:04] miraleung commented on #1173
SGTM.

[2020-08-31 23:55] chingor13 opened #1175 "Missing documentation on configuring LRO timeouts"
We should document how to configure the LRO timeout (on the client-side Java Future). Customers are seeing the Future marked `isDone()` but failing on `Future#get()`. Presumably in this case, the operation will still complete on the backend.

[2020-09-08 20:01] vam-google commented on #1175
@chingor13 LRO futures are normal futures and follow `Future` semantics (i.e. the idea is they do not need extra documentation around standard future methods, because the existing documentation for the standard Futures is supposed to be enough). If a future (any, not related to LRO) returns `isDone() == true` it means the work is stoped on "this" machine, it does not mean it succeeded. I.e. `isDon

[2020-09-08 20:26] ranjit5311 opened #1176 "Issue in creating long running operationsClient in Java code"
I have submitted google batchTranslation  and got the operationId (projects/<projectId>/locations/us-central1/operations/<operations>).

now I want to checkthe status of this operation by pooling. Here I have used below  dependencies

    <dependency>
      <groupId>com.google.api</groupId>
      <artifactId>gax-grpc</artifactId>
      <version>1.58.2</version>
    </dependency>
    <dependency>

[2020-09-09 20:53] hkdevandla commented on #965
@miraleung , any updates on this?

[2020-09-10 22:51] vam-google commented on #1176
Hi @ranjit5311. OperationsClient is not designed to be used as a standalone entity. It exists in gax-java to be used by the generated (API-specific) GAPIC clients. The generated code makes sure that the OperationsClient is initialized properly.

If you need to use an LRO method from some GCP service, please download the corresponding client (the list is here https://github.com/googleapis/google-cl

[2020-09-16 04:54] miraleung commented on #965
We're tracking this in the microgenerator and will address it after code completion.

[2020-09-22 02:24] #1151 closed

[2020-10-01 03:53] skuruppu opened #1197 "FR: provide the ability to set per-request RetrySettings"
In [googleapis/java-spanner](https://github.com/googleapis/java-spanner), we want to allow users set per-request timeout and retry settings.

Currently, the timeouts and retry settings are set at the time of client creation when the UnaryCallable is created ([example](https://github.com/googleapis/java-spanner/blob/ca99446f2ff594727d1624fc309736efbc443da6/google-cloud-spanner/src/main/java/com/goo

[2020-10-05 13:36] elharo opened #1199 "Website is two years out of date"
See http://googleapis.github.io/gax-java/
generated from github pages.

Either update this site and figure out how to keep it up to date, or delete it.

[2020-10-05 13:37] elharo commented on #1199
https://github.com/googleapis/gax-java/blob/master/RELEASING.md needs to include a step for updating this

[2020-10-05 21:11] Gerschtli opened #1201 "NPE is thrown when setting log level lower than FINER"
Currently I can't set the log level lower than `FINER` because this library throws a NPE. The cause of this problem is a missing pair of parentheses in https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/retrying/BasicRetryingFuture.java#L179.

This is the current snippet:
[code]
Which is equivalent to:
[code]
This results in calling `callable.getClass().getEncl

[2020-10-06 03:00] failure-checker[bot] opened #1203 "Warning: a recent release failed"
The release PR #1202 is still in a pending state after several hours

[2020-10-07 20:49] igorbernstein2 opened #1207 "x-goog-api-client is incorrect when the customer uses shading"
The current approach pulls the version from the jar manifest. Unfortunately this will break if the application builds an uber jar (the version will come from the uber jar rather then the generated client or gax). A more robust approach would to follow grpc's approach and embed it in a class or to use the maven-resources-plugin. I recently worked around this issue in the bigtable client:
https://gi

[2020-10-08 19:15] noahdietz commented on #1197
Hi @skuruppu thanks for the FR, this is something I've been thinking about already, so it's great to have your input.

My current idea was limited to just exposing some additional timeout setting on the [`ApiCallContext`](https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/rpc/ApiCallContext.java) (the abstraction for HTTP & gRPC call contexts we use in GAX) tha

[2020-10-09 01:15] skuruppu commented on #1197
Thanks for following up @noahdietz. I will reply inline but @ramiyer, if you could also reply with your specific requirements, that would help a lot since you have a better understanding of how you plan to use this feature.

The initial request was to change the delay settings from my understanding.

They also mentioned that they would like to change the timeouts as well.

I'm not sure so @ramiyer

[2020-10-09 17:05] noahdietz commented on #1197
If any of the backoff settings were in question, I'd say we want the entire `RetrySettings` object to be overridable from the `ApiCallContext`. We'd want to avoid flattening out the `RetrySettings` surface on the `ApiCallContext`.

Just to set expectation, the way the `RetrySettings` are supplied to a callable does not lend itself to per-invocation configurability. It's all just code and its certa

[2020-10-09 20:08] mgarolera opened #1208 "Instrumenting the credentials fetching with ApiTracer"
Calls to get auth tokens should have their own trace span to surface issues with slowness issues with auth.

[2020-10-13 17:44] noahdietz commented on #1197
Small update: I took a crack at threading the `RetrySettings` through the `ApiCallContext` and it was actually much easier/less invasive than I anticipated - at least for Unary RPCs. I haven't tried Server Streaming yet, which has some different retry behavior based on resumption strategy.

[2020-10-15 20:47] Gerschtli commented on #1201
Can be closed as https://github.com/googleapis/gax-java/pull/1198 was merged.

[2020-10-15 20:47] #1201 closed

[2020-10-19 21:16] noahdietz commented on #1197
Update: Things got a little more complicated. RPCs that are configured to _not_ be retried at client creation results in a simpler/smaller callable chain being created - one that does not have the same codepath as RPCs that _are_ configured to be retried. In order to make the `ApiCallContext`-provided, per-invocation `RetrySettings` to work for non-retryable RPCs, we will need to either:

A. unify

[2020-10-20 01:32] skuruppu commented on #1197
Yeah, I agree with prioritizing retryable RPCs and not adding this support yet for non-retryable RPCs.

We may not want to encourage retrying non-retryable RPCs in any case since if a user needs this, then there are errors that they should handle explicitly. I don't believe the automatic retry logic of gax could handle these cases in a meaningful way.

[2020-10-22 15:41] dmitry-fa opened #1228 "Implement toString() method"
Towards https://github.com/googleapis/java-bigtable/issues/233

The following classes miss `toString()` method:
- com.google.api.gax.rpc.OperationCallSettings
- com.google.api.gax.rpc.InstantiatingWatchdogProvider
- com.google.api.gax.rpc.NoHeaderProvider
- com.google.api.gax.rpc.ApiClientHeaderProvider
- com.google.api.gax.tracing.NoopApiTracerFactory
- com.google.api.gax.core.InstantiatingExecut

[2020-10-28 23:27] noahdietz commented on #1197
Hi folks, so I haven't had time to work on this more, and I am going on leave. I parked the initial changes in #1211, but it does not include the changes necessary for passing these settings through the `ServerStreamingRetryAlgorithm`.

[2020-10-28 23:36] skuruppu commented on #1197
@noahdietz thanks for making this much progress and for keeping us in the loop. Let us know if there's anything we can help with to get this work scheduled. I would be more than happy to have @olavloite help out with the implementation as long as there's someone from the gax-java team that can guide the design and implementation.

[2020-10-29 00:02] noahdietz commented on #1197
Note: @skuruppu and I synced offline and we will have an update on this work in a few days.

[2020-10-30 13:49] elharo opened #1234 "CircleCI is broken"
#!/bin/sh -eo pipefail
# No configuration was found in your project. Please refer to https://circleci.com/docs/2.0/ to get started with your configuration.
#
# -------
# Warning: This configuration was auto-generated to show you the message above.
# Don't rerun this job. Rerunning will have no effect.
false

[2020-10-30 20:55] elharo commented on #1234
resolved

[2020-10-30 20:55] #1234 closed

[2020-11-03 19:09] miraleung commented on #1144
Moving this to P3 until ndietz@ is back in Q1.

[2020-11-05 11:59] olavloite commented on #1197
I would say that there are a couple of additional reasons for wanting to be able to set this:
* If an RPC is configured to be retryable, but `DEADLINE_EXCEEDED` is not part of the retryable codes for that RPC, then the call will fail with a timeout error already after exceeding the `RetrySettings#getInitialRpcTimeout()`. An RPC that does have `DEADLINE_EXCEEDED` as a retryable code will however no

[2020-11-11 00:02] chingor13 commented on #1199
Fixed in #1247

All refdocs are redirected to googleapis.dev (best effort on matching versions). The root page redirects back to the repo README.

[2020-11-11 00:02] #1199 closed

[2020-11-11 00:02] #1203 closed

[2020-11-20 03:00] failure-checker[bot] opened #1252 "Warning: a recent release failed"
The release PR #1239 is still in a pending state after several hours

[2020-12-07 20:07] #1175 closed

[2020-12-07 20:08] #1176 closed

[2020-12-08 20:23] dconeybe opened #1259 "Cloud Firestore RPC throw DeadlineExceededException when called from jpackage'd MacOS app"
I'm a Googler investigating a customer issue (https://github.com/firebase/firebase-admin-java/issues/499) where their calls to the Cloud Firestore RPC APIs are hanging when they package their app via `jpackage` on MacOS. I've been able to reproduce their issue but have no idea how to investigate since this is a much lower-level issue than I have experience with.

Here is the code to reproduce:
[co

[2020-12-09 17:00] #1252 closed

[2020-12-18 01:28] igorbernstein2 opened #1261 "Fix incomplete javadoc for TracedResponseObserver or change behavior"
I accidentally left incomplete javadoc for the TracedResponseObserver class. It was supposed to read
[code]

However, while trying to remember my intent when writing that class, I'm not sure if this is the desired behavior. My original intention was to try exclude the caller's processing from metrics gathered callable chain below. However looking at it with fresh eyes, I dont think that. possible

[2020-12-29 20:15] miraleung commented on #1261
Just documenting the behavior SGTM.

[2020-12-29 23:11] vam-google commented on #1261
+1

Unless the current implementation is fundamentally wrong, I think just making the documentation match the implementation is better.

Documenting is easier.

Also, sometimes "fresh eye" view could be an indication of forgetting something important from the past which actually caused you make the original implementation. I.e. just making documentation match the implementation also looks safer.

[2021-01-04 00:11] Elblassy commented on #1259
Do you find any solution ? I have same problem when package my app in windows :(

[2021-01-06 16:04] igorbernstein2 commented on #1261
Ok, I'll update the docs

[2021-01-15 12:08] elharo opened #1270 "Update to at least Gradle 5"
Deprecated Gradle features were used in this build, making it incompatible with Gradle 5.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/4.9/userguide/command_line_interface.html#sec:command_line_warnings

[2021-01-15 12:17] elharo opened #1271 "Remove dependency on org.apache.commons:commons-lang3:3.6"
The gradle build resolution means this is breaking Java 7 compatibility because higher versions are sneaking into the classpath.

[2021-01-22 13:38] nwbirnie commented on #965
Hey Mira, did you get a chance to look at this one?

[2021-01-22 21:23] miraleung commented on #965
Not yet for the microgenerator, but I can pick this up now. Could you please provide some repro snippets and env setup so I could try this out?

[2021-01-25 18:12] nwbirnie commented on #965
Sure, here's a [project that triggers the issue](https://github.com/nwbirnie/gapic-oauth-invalid-hangs).

Run with `./gradlew run`.

I also grabbed a [thread dump](https://gist.github.com/nwbirnie/14db60a07dbf32f5e5ff2d1af51345f9) of it hanging on my machine in case it's helpful.

[2021-01-25 19:16] #1271 closed

[2021-01-26 12:54] elharo opened #1275 "bazel warning: -parameters is not supported for target value 1.7. Use 1.8 or later."
INFO: From Building gax/libgax-class.jar (185 source files) and running annotation processors (AutoValueProcessor):
warning: -parameters is not supported for target value 1.7. Use 1.8 or later.

[2021-01-26 12:54] elharo opened #1276 "bazel warning: java.util.ServiceConfigurationError: com.google.auto.value.extension.AutoValueExtension: Provider com.google.auto.value.extension.memoized.MemoizeExtension could not be instantiated"
INFO: From Building gax/libgax-class.jar (185 source files) and running annotation processors (AutoValueProcessor):
...
warning: An exception occurred while looking for AutoValue extensions. No extensions will function. This may be due to a corrupt jar file in the compiler's classpath. Exception: java.util.ServiceConfigurationError: com.google.auto.value.extension.AutoValueExtension: Provider com.

[2021-01-26 13:02] elharo commented on #1275
https://github.com/bazelbuild/bazel/issues/8772

[2021-01-26 13:53] elharo commented on #1276
Looks like something got compiled with java 8:

Deprecated Gradle features were used in this build, making it incompatible with Gradle 5.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/4.9/userguide/command_line_interface.html#sec:command_line_warnings
2 actionable tasks: 2 executed

[2021-01-27 16:29] suztomo opened #1280 "flaky CancellationTest"
I observed a test failure below in "units (8)". This disappeared after retry. I file this issue to track the flakiness.

[code]

[2021-01-30 17:07] elharo opened #1285 "Use maven_install in bazel build"
https://github.com/googleapis/gax-java/pull/1263#discussion_r566997807

[2021-01-30 17:09] elharo commented on #1285
https://docs.bazel.build/versions/master/migrate-maven.html

[2021-02-01 11:14] liufuyang opened #1286 "Question: may I as why the default thread pool is a ScheduledThreadPoolExecutor?"
If I am correct, from the code here
https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/core/InstantiatingExecutorProvider.java#L63

Means the default threadpool for grpc connections will be a `ScheduledThreadPoolExecutor`
https://github.com/AdoptOpenJDK/openjdk-jdk11/blob/master/src/java.base/share/classes/java/util/concurrent/ScheduledThreadPoolExecutor.java#L

[2021-02-04 08:00] liufuyang commented on #1286
And perhaps this https://github.com/googleapis/gax-java/pull/869 can sort of solves the issue so it allows me to switch to a different executor for the grpc channels? (For example my application uses Bigtable, and the Bigtable client seems uses gax-java?)

If I may ask, I would like to know, when I setup a Bigtable client connection to google's bigtable service, what is the actual threadpool/execu

[2021-02-04 21:03] elharo opened #1291 "HttpJsonCallContext is final and @InternalExtensionOnly"
There's no reason a final class should be `@InternalExtensionOnly` since it can't be extended.

[2021-02-05 16:17] elharo commented on #1291
same issue in GrpcCallContext

[2021-02-05 16:27] elharo opened #1292 "Jitter should be unconditional"
In RetrySettings

[code]

This method is way overspecified. We should deprecate it and always jitter.

[2021-02-05 16:48] elharo opened #1293 "threetenbp and java 8"
The public API exposes `org.threeten.bp.Duration` and other classes. Oops.

Figure out what to do when we move to Java 8. Keep it forever? Replace with java.time, bump the major version, and change the package?

[2021-02-08 10:54] nwbirnie commented on #965
Friendly ping :)

[2021-02-08 17:26] debedb opened #1295 "IGNORE: java.lang.NoClassDefFoundError: com/google/api/FieldBehaviorProto"
I'm trying to run the [GetAccountHierarchy](https://developers.google.com/google-ads/api/docs/account-management/get-account-hierarchy) example. It works perfectly fine when run ass part of a small example project (call it SampleProject) with the following pom.xml:

[code]

However, when used in a larger project (call it ProdProject -- here it is hard to isolate a reproducible case) the error in t

[2021-02-08 17:27] debedb commented on #1295
Apologies, accidentally created issue in the wrong place (should be [here](https://github.com/googleads/google-ads-java/issues/397)) . Feel free to delete.

[2021-02-08 17:28] #1295 closed

[2021-02-08 20:04] miraleung commented on #965
Thanks for the ping. We have a Fixit next week, so I've earmarked this for more digging then.

[2021-02-09 02:48] hbchai opened #1296 "InstantiatingGrpcChannelProvider - Support non-host:port target strings"
Currently, `InstantiatingGrpcChannelProvider` endpoints must be host:port strings. This is a request to support target strings, e.g. that can be resolved using custom name resolvers. Implementation-wise, it seems that allowing a target string to be passed through to `ManagedChannelBuilder.forTarget()` instead of `forAddress()` would be sufficient.

Primary use cases are for testing.

[2021-02-12 14:25] pegerto opened #1301 "Retry issues caused by dns resolution"
#### Environment details

1. Specify the API at the beginning of the title. biquery
2. OS type and version: MacOS
3. Java version: 1.8
4. bigquery version(s): 1.117.1

#### Steps to reproduce

Configuring retrying exceptions, in case of an error during dns resolution on http GRPC API, the exception does not seems to retry. Google Extensions for java consider this a not retry case. The api does not

[2021-02-12 19:50] miraleung opened #1299 "[gax-java] Add tests for OperationSettings"

[2021-02-18 01:15] miraleung commented on #1293
That might have side effects on the client libraries. Given LTS, I'm not sure if we can move off of threeten if that's actively being used.

[2021-02-18 02:18] miraleung opened #1305 "Gradle emits unchecked warnings for gax-httpjson"
[code]

[2021-02-18 02:51] miraleung commented on #1276
I couldn't reproduce this with `bazel build gax:gax`, could you please paste the exact build command you used?
I'm also on Bazel v4.0.0.

[2021-02-18 11:21] elharo commented on #1276
Try building with gradle. I think that's where I saw this.

[2021-02-18 17:46] miraleung commented on #1276
With `./gradlew assemble --warning-mode all`, the closest one I got was the one below. Should we mark this issue as obsolete?

[code]

[2021-02-18 18:02] #1291 closed

[2021-02-18 18:18] miraleung commented on #1270
@elharo Are we ready to drop Java 7? Gradle 5.0 [requires](https://docs.gradle.org/current/userguide/upgrading_version_4.html) Java 8 at a minimum.

[2021-02-18 18:47] elharo commented on #1270
We likely already are building with Java 8 or later even if compiling for Java 7. I guess the question is whether we have a CI build that uses java 7?

However, that's not what this bug suggests. We should get rid of the deprecated features now, even if we're still using Gradle 4.x.

[2021-02-18 18:55] elharo opened #1307 "autovalue fails verifyGoogleJavaFormat"
Need to somehow exclude .apt_generated directory from check:

[code]

[2021-02-18 18:57] elharo commented on #1276
I probably saw it in the CI output. I can reopen if I see it again.

[2021-02-18 18:57] #1276 closed

[2021-02-18 19:24] miraleung commented on #965
I [tried out](https://github.com/miraleung/gapic-oauth-invalid-hangs/pull/1) the sample with invalid credentials from a different library (which is the same approach used in gax-java's [ClientContextTest](https://github.com/googleapis/gax-java/blob/master/gax/src/test/java/com/google/api/gax/rpc/ClientContextTest.java#L318)). In this case, it fails immediately with the error below and does not han

[2021-02-18 19:35] #1305 closed

[2021-02-18 21:57] miraleung opened #1309 "Add an API breaking change detector"
Add Clirr as a Maven or [Gradle plugin](https://plugins.gradle.org/plugin/org.kordamp.gradle.clirr).

[2021-02-19 19:53] pegerto commented on #1301
Hello @miraleung
I see you label the issue as feature request, could you elaborate a bit your thoughts after triages?, I am happy to contribute, I rather have a retry option for this case handle by the client than build a wrapper.

[2021-02-22 21:11] miraleung opened #1311 "Keep logs for failing CI builds [gax-java]"

[2021-02-22 21:52] #1311 closed

[2021-03-09 01:17] sanjaypujare opened #1323 "code should be updated as indicated in the PR comments"
the following things need to be fixed:

- Not using Runtime.exec as pointed out [here](https://github.com/googleapis/gax-java/pull/1250#discussion_r589861590)
- have foolproof logic for detecting GCE that is able to clearly rule out GAE/GKE so that we don't get false positives as pointed out in this [comment](https://github.com/googleapis/gax-java/pull/1250#discussion_r589861385)

[2021-03-09 17:26] noahdietz commented on #1144
#1324 will fix this specific issue by respecting a timeout set via `withTimeout`. I am still going to be looking at how we can improve the configurability of timeouts at the method level (i.e. logical timeout). Also, #1238 will improve the accessibility of the `RetrySettings` by making them configurable from the `ApiCallContext`. That said, the timeouts in `RetrySettings` are not trivial to use, e

[2021-03-10 16:15] nwbirnie commented on #965
Hey pretty sure that this is an issue with GAPIC retries. I've added logging to the test project and you can see one error message repeats (I'm sure it will eventually give up). It looks like an issue with retrying failed OAuth requests... we shouldn't be attempting to retry these, the OAuth server is returning 400 bad request which should immediately fail the GAPIC call.

[Logs here](https://gist

[2021-03-10 23:40] #1144 closed

[2021-03-11 19:34] noahdietz opened #1327 "[gax] wrap non-retryable RPCs in the same retryable callable machinery"
Today, those methods that are configured at the client-level to be non-retryable would not benefit from some `ApiCallContext` improvements, like supporting `withRetrySettings` and `withRetryableCodes` added in #1238, and a proposal to add a new logical timeout option. This is because the callable for such methods is not wrapped in the same context-aware machinery that retryable methods are enablin

[2021-03-11 19:35] noahdietz commented on #1327
cc @olavloite

[2021-03-11 19:45] noahdietz commented on #1327
Specifically, we would remove the following conditions https://github.com/googleapis/gax-java/blob/3fe1db913b134e4fddee4c769ee4497847d8e01f/gax/src/main/java/com/google/api/gax/rpc/Callables.java#L59 https://github.com/googleapis/gax-java/blob/3fe1db913b134e4fddee4c769ee4497847d8e01f/gax/src/main/java/com/google/api/gax/rpc/Callables.java#L84

We would also need to ensure that the first attempt fo

[2021-03-11 22:10] noahdietz commented on #1327
@miraleung @vam-google WDYT?

[2021-03-12 00:19] noahdietz commented on #1327
Opened #1328 to address this if we think it is worth it.

[2021-03-15 18:39] nwbirnie commented on #965
More generally I think there's some subset of the OAuth errors that we should never retry. This is one of them (invalid credentials), but there could be others such as invalid grant (a revoked token).

[2021-03-18 08:25] #1197 closed

[2021-03-18 18:46] igorbernstein2 opened #1331 "FR: make channel pool dynamically sized"
gax supports a round robin channel pooling to allow increased concurrency to spread load across afes. Currently its statically sized at client construction time. It would be nice to dynamically size the pool based on current load. gax-dotnet has some prior art: it grows & shrinks the pool based on number of outstanding requests

[2021-03-19 20:09] miraleung commented on #965
Sijun will dig into this further - thank you!

[2021-03-22 21:52] arithmetic1728 commented on #965
I think I find the root cause. Filed an issue in grpc-java, https://github.com/grpc/grpc-java/issues/8003

[2021-04-05 21:00] #1327 closed

[2021-04-17 20:54] langara commented on #1259
Same on linux ubuntu :(

[2021-04-19 16:25] pegerto commented on #1301
The issue persist, and is now becoming a bit worse for us as we move more jobs to a new implementation that does not use a custom made retry wrapper.

We know there is an underline issue causing java.net.UnknownHostException: www.googleapis.com to appear, but this should be retried..

[2021-04-19 17:53] miraleung commented on #1301
Thanks @pegerto, @stephaniewang526 and I will take a look. In the meantime, if you could put a repro case and steps here, that would be great. :)

[2021-04-20 12:04] pegerto commented on #1301
Hello @miraleung @stephaniewang526

Thank you very much for your help, It may be my misunderstanding about the retry waranties that we can expect from the client.
Imaging a continues thread processing data, for this example just doing a counting of the datasets instead of instantiating bq jobs.

[code]
If I disconnect the wifi during the execution of this loop to simulate some glitch we have in ou

[2021-04-27 01:00] failure-checker[bot] opened #1351 "Warning: a recent release failed"
The following release PRs may have failed:

* #1349

[2021-04-29 19:56] mutianf commented on #1286
Hi @liufuyang

If you didn't set a `TransportChannelProvider` or `ExecutorProvider`, by default it'll use the `ScheduledThreadPoolExecutor` [you mentioned](https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/core/InstantiatingExecutorProvider.java#L63).

Yes. For bigtable client, you could do:

[code]

We're also working on a fix to use the default gRPC executor

[2021-04-29 20:42] liufuyang commented on #1286
I see. Thanks for the info 👍 This could be helpful.

[2021-04-29 22:00] #1351 closed

[2021-05-01 05:12] vam-google opened #1359 "Fix flaky FlowControllerTest"
The `FlowControllerTest#testConcurrentUpdateThresholds_nonBlocking` seems to be very flaky. It also failed the release of gax 1.63.2 (https://github.com/googleapis/gax-java/pull/1357).

The buidl very often fails with an error like the following:
[code]

[2021-05-01 05:13] vam-google commented on #1359
@mutianf PTAL

[2021-05-01 17:00] failure-checker[bot] opened #1361 "Warning: a recent release failed"
The following release PRs may have failed:

* #1357

[2021-05-04 17:00] #1361 closed

[2021-05-08 17:00] failure-checker[bot] opened #1373 "Warning: a recent release failed"
The following release PRs may have failed:

* #1371

[2021-05-10 16:14] chingor13 opened #1374 "build: switch to new gradle Sonatype plugin"
https://github.com/gradle-nexus/publish-plugin/

This one provides the ability to save the stagingRepositoryId and avoid having to to closeAndRelease on all staging repositories (failing if we find > 1).

[2021-05-10 21:46] vam-google commented on #1359
This has been fixed by @mutianf in #1365. Closing

[2021-05-10 21:47] vam-google commented on #1374
@chingor13 Will specific version of [1.1.0](https://github.com/gradle-nexus/publish-plugin/releases/tag/v1.1.0) be sufficient?

[2021-06-08 23:00] failure-checker[bot] opened #1402 "Warning: a recent release failed"
The following release PRs may have failed:

* #1400

[2021-06-11 20:00] #1402 closed

[2021-06-25 01:00] failure-checker[bot] opened #1417 "Warning: a recent release failed"
The following release PRs may have failed:

* #1415

[2021-06-25 19:00] #1417 closed

[2021-06-25 22:00] failure-checker[bot] opened #1418 "Warning: a recent release failed"
The following release PRs may have failed:

* #1415

[2021-06-28 19:00] #1418 closed

[2021-06-30 18:00] failure-checker[bot] opened #1421 "Warning: a recent release failed"
The following release PRs may have failed:

* #1415

[2021-06-30 19:00] #1421 closed

[2021-07-20 02:00] failure-checker[bot] opened #1432 "Warning: a recent release failed"
The following release PRs may have failed:

* #1425

[2021-07-20 18:00] #1432 closed

[2021-07-27 17:24] elharo commented on #1293
LTS shouldn't affect this. That's a separate branch.

[2021-07-28 15:08] aditya-protonn opened #1437 "com.google.api.gax.rpc.InvalidArgumentException: io.grpc.StatusRuntimeException"
OS : Mac (M1 chip)
Java : 11

[code]

[2021-08-25 04:59] forking-renovate[bot] opened #1469 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Repository problems

These problems occurred while renovating this repository.

 - WARN: RepoCacheS3.getCacheFolder() - appending missing trailing slash to pathname

## Rate-Limited

These updates are currently rate-limited. Clic

[2021-09-01 21:21] hkdevandla commented on #1469
@vam-google , can you please take a look at this? We probably have to disable it like how we did for other repos - https://github.com/googleapis/gapic-generator-go/pull/755. Thanks!

[2021-09-13 19:46] vchudnov-g commented on #1323
@sanjaypujare To clarify, you mean the code should be updated as indicated in those PR comments?

[2021-09-13 20:18] sanjaypujare commented on #1323
Yes. I updated the issue header

[2021-09-17 12:45] nwbirnie opened #1482 "Default branch is now `main`"
As part of Google’s ongoing efforts to foster inclusive language, we’ve changed the default branch of this project to `main`. We encourage contributors to do the same for their forks and local development environments in order to minimize issues when creating pull requests.

[2021-09-17 12:45] #1482 closed

[2021-09-17 12:45] nwbirnie commented on #1482
Sorry wrong repo :)

[2021-10-09 01:00] failure-checker[bot] opened #1507 "Warning: a recent release failed"
The following release PRs may have failed:

* #1504
* #1501

[2021-10-13 20:00] failure-checker[bot] opened #1514 "Warning: a recent release failed"
The following release PRs may have failed:

* #1510

[2021-10-15 19:47] chanseokoh opened #1527 "Javadoc generation for Java 11 broken"
Log from a recent Kokoro `publish_javadoc11` build:

[code]

Based on https://github.com/gradle/gradle/issues/11898. I think this started to happen when we upgraded Gradle from 4 to 6.9 last week.

[2021-10-15 20:19] #1527 closed, assigned to chanseokoh

[2021-10-15 22:01] suztomo opened #1534 "GAX now declares google-auth-library-oauth2-http as runtime scope. Is this correct?"
https://github.com/googleapis/java-shared-dependencies/pull/498/commits/3e5ffe005b3636d619da33b58b20fd4ffb848df5#r730141975 a check failed because GAX recently changed the scope of the google-auth-library-oauth2-http as runtime.

<img width="1252" alt="Screen Shot 2021-10-15 at 5 58 04 PM" src="https://user-images.githubusercontent.com/28604/137558023-e6eef4db-69ae-4b24-81ef-fd8d744fc6f7.png">

Th

[2021-10-16 01:54] suztomo commented on #1534
Thank you for the pointer. I found the corresponding explanation of Gradle's "implementation" mapped to Maven's "runtime" scope:

https://docs.gradle.org/current/userguide/publishing_maven.html

[2021-10-16 03:09] suztomo commented on #1534
@chanseokoh For the classes in `com.google.auth.oauth2` (`com.google.auth.oauth2.QuotaProjectIdProvider`, `com.google.auth.oauth2.ComputeEngineCredentials`, `com.google.auth.oauth2.GoogleCredentials`, `com.google.auth.oauth2.ServiceAccountCredentials`, `com.google.auth.oauth2.ServiceAccountJwtAccessCredentials`, `com.google.auth.oauth2.QuotaProjectIdProvider`), I didn't find any of them used as AP

[2021-10-16 17:00] #1514 closed

[2021-10-18 15:57] #1534 closed, assigned to nobody

[2021-10-18 21:53] chanseokoh commented on #1374
This is done.

[2021-10-18 21:53] #1374 closed, assigned to nobody

[2021-10-18 21:54] chanseokoh commented on #1270
We are using Gradle 6.9.1.

[2021-10-18 21:54] #1270 closed

[2021-10-19 18:31] nwbirnie opened #1540 "gax-java should put its dependencies on the compile classpath, not just the runtime classpath"
A recent [change](https://github.com/googleapis/gax-java/pull/1535) removed most of the transitive dependencies from the compile time classpath in maven.

This means that downstream projects need to re-declare all the dependencies and keep these in sync with what GAX requires. This creates the risk that overtime our dependency sets diverge, leading to subtle bugs. As a downstream project I just wa

[2021-10-19 19:22] suztomo commented on #1540
That change https://github.com/googleapis/gax-java/pull/1535 is moving the "runtime" scope to "compile" scope for the classes in the API surface of GAX.

<img width="663" alt="Screen Shot 2021-10-19 at 3 14 41 PM" src="https://user-images.githubusercontent.com/28604/137975932-cc1ff68e-05f1-4fc2-8a22-9eb58b43834f.png">

In general,

- For the libraries you use for GAX's API surface, the change made

[2021-10-19 20:04] nwbirnie commented on #1540
Oh cool, I wasn't aware of https://github.com/googleapis/java-shared-dependencies. This solves my problem, ty!

https://github.com/googleads/google-ads-java/ is our project if you're curious.

[2021-10-20 01:11] suztomo commented on #1540
@Neenu1995 You own this shared dependencies BOM. What do you think about https://github.com/googleads/google-ads-java/ using the shared dependencies BOM?

[2021-11-01 10:57] minherz opened #1548 "fix: Modify existing mechanism of logging errors in gax-batching to avoid looped calls"
Existing error reporting mechanism in gax-batching uses JUL (`java.util.logger`) to log the errors. This mechanism can lead to the looped calls between the Java client logging library and gax in a case users configure the `com.google.cloud.logging.LoggingHandler` to serve as one of the JUL handlers. In such a case a call to write a log via JUL will land into gax-batching code (via java-logging). I

[2021-11-01 15:24] chanseokoh commented on #1540
Not an issue. Closing.

[2021-11-01 15:24] #1540 closed

[2021-11-02 19:48] chanseokoh commented on #1548
After talking to @vam-google, I learned that gax-batching is not the only place where gax-java does logging. Places I found:
- [`BasicRetryingFuture`](https://github.com/googleapis/gax-java/blob/d5c10c66581e00f6449787502057a2fcc576bf70/gax/src/main/java/com/google/api/gax/retrying/BasicRetryingFuture.java#L176-L177)
- `GrpcClientCalls`: [here](https://github.com/googleapis/gax-java/blob/d5c10c6658

[2021-11-08 17:19] paulotaylor opened #1551 "GrpcOperationsStub creation"
https://github.com/googleapis/gax-java/blob/19a77a4f6c62e84bba4879690992bbc494730d23/gax-grpc/src/main/java/com/google/longrunning/stub/GrpcOperationsStub.java#L129

https://github.com/googleapis/gax-java/blob/19a77a4f6c62e84bba4879690992bbc494730d23/gax-grpc/src/main/java/com/google/longrunning/stub/GrpcOperationsStub.java#L135

I was wondering the the clientContext shouldn't be passed along to t

[2021-11-15 19:04] chanseokoh opened #1557 "ApiExceptionFactory not propagating down exception message"
We should pass the given exception message here:

https://github.com/googleapis/gax-java/blob/cea4282c0624237afda00b0b28a432060130a4aa/gax/src/main/java/com/google/api/gax/rpc/ApiExceptionFactory.java#L117

[2021-11-15 19:56] #1557 closed

[2021-11-20 03:41] meltsufin opened #1567 "Migrate from Gradle to Maven"
The goal of switching to Maven is to align with the rest of the Java client libraries repositories that use Maven. This should enable us to take advantage of more automation tools that have been designed and tested against Maven-based repositories in the googleapis organization. This should also simplify integration with Bazel and eliminate the need for `/dependencies.properties`.

- [ ] Add Maven

[2021-11-22 19:20] vam-google commented on #1323
@mohanli-ml Can you please address this (context: https://github.com/googleapis/gax-java/pull/1250#discussion_r528955737)

[2021-11-22 22:42] sanjaypujare commented on #1323
Issue seems to have been fixed

[2021-11-22 22:42] #1323 closed

[2021-12-07 20:08] dpcollins-google opened #1577 "Futures or blocking RPCs may block forever even when a deadline is present"
#### Environment details

  - Programming language: Java
  - OS: Linux

#### Steps to reproduce

  1. Create a singleton RPC call for the Pub/Sub Lite cursor service using the blocking generated GAX surface, or using the futures surface followed by a call to `get()`
  2. It blocks forever (or at least 100 hours) in some edge case, despite a timeout of 300 seconds in the service configuration.

[2021-12-07 20:28] chanseokoh commented on #1577
Is this a regression, only manifested in new library or dependency versions? And although it sounds like this is not something easily reproducible, any small sample or snippet that demonstrates this?

[2021-12-07 20:34] dpcollins-google commented on #1577
This is unclear, but I had not experienced this in the past, so it is likely a recent (O(months) though) regression.

An example code snippet which triggered this from the apache beam repo is:

[code]

[2021-12-07 20:38] chanseokoh commented on #1551
@vam-google I think this makes sense but also am not sure if the current implementation is really intended. Thoughts?

[2021-12-07 22:50] chanseokoh commented on #1577
I see the transport of pubsublite v1 is gRPC. @vam-google any thoughts?

[2021-12-08 22:27] vam-google commented on #1577
@chanseokoh There are no other clients besides java-compute depending on rest transport right now. So it is safe to ssume that all reported issues, if they are not compute related are gRPC.

[2021-12-09 20:15] dpcollins-google commented on #1577
I just created my own pipeline- I'm able to recreate this fairly frequently, where the future takes over a minute to finish.  It has the following (truncated) stacktrace:

[code]

[2021-12-27 20:43] khoek opened #1586 "Package `com.google.api.gax.paging` is declared in the unnamed module"
Trying to use the google cloud DNS client library with BOM version `24.0.0` pulls in this library, and since my project lies in a named module yields the following error.

[code]

Is this intentional? (I presume not?) If not, could it please be corrected? The other google cloud client libraries lie in their own modules, e.g. `google.cloud.storage` and `google.cloud.dns`.

[2021-12-27 20:53] khoek commented on #1586
Oh sorry, I see now that it does below to the module `gax` and IntelliJ was lying a bit. I don't know anything about java module system compatibility, but is it too late to add a more conventional name as an alias? (e.g. modules under `com.google.api.*` already exist).

[2021-12-27 21:26] khoek commented on #1586
(Sorry for the noise:) Upon learning a bit more about the module system I see that `gax` is probably an automatic module name inferred by the JVM, and so there currently isn't a `module-info.java` after all.

[2022-01-04 18:35] AlanGasperini commented on #1577
P1 out of SLO, please take a look & triage

[2022-01-04 20:40] dpcollins-google commented on #1577
To provide more information, it appears that in this case the issue is with executor exhaustion at the GRPC layer preventing the grpc future from ever returning. However, it would be useful to enforce deadlines on the gax future (i.e. complete it early) even if GRPC never completes the request.

[2022-01-04 20:53] meltsufin commented on #1577
@dpcollins-google Is there a corresponding issue filed against gRPC? Also, can we change this to a feature request and downgrade the priority? Thanks!

[2022-01-04 21:11] meltsufin commented on #1577
I checked with @dpcollins-google offline and we agreed to change this to a feature request and downgrade to p2.

[2022-01-05 17:45] meltsufin commented on #1586
Can you clarify why the automatic modules are not working for you?

[2022-01-28 20:29] chanseokoh opened #1615 "BatcherImplTest.testThrottlingBlocking still flaky"
The test is known to be flaky. So far, we did #1589 and #1600. (However, although it may just be me, I feel this became less flaky.)

Unfortunately, this failed again in #1613. The bright side of it is that we have a different error. Hopefully this reveals more information.
[code]

[2022-01-28 20:41] meltsufin commented on #1615
I've noticed it flaking again too. I'm at a loss here. I welcome another pair of eyes on this to try to fix it once and for all.

[2022-01-31 16:38] vam-google commented on #1615
Was the previous fix done by increasing timeout somethign from 10 ms to 50 ms? That could be just not enough difference. In many of our tests we use timeout as high as 20 sec, so maybe try just increasing it to something like 1sec. Or maybe this is the indicator of the logic itself having flaws. (btw, I've bee noticing flakiness myself too).

[2022-01-31 17:34] meltsufin commented on #1615
It wasn't just the timeout. I thought the test was actually written is such a way that it wasn't testing what was intended. I thought I fixed it, but there still seems to be some kind indeterminism happening with the threads.

[2022-02-10 18:27] vam-google opened #1626 "Cleanup legacy code in gax-httpjson"
Remove all code related to `ApiMessage`, which is not used anymore and was introduced before ptotobuf messages were chosen as a way to represent data model.

[2022-02-11 17:57] #702 closed

[2022-02-11 17:57] vam-google commented on #1095
The annotations have been removed

[2022-02-11 17:57] #1095 closed

[2022-02-18 01:56] meredithslota commented on #474
We missed the opportunity for v2 — is this still worth doing at the _next_ breaking change?

[2022-02-22 18:45] meltsufin commented on #1437
Seems similar to this issue: https://github.com/googleapis/google-cloud-python/issues/6836
It looks like there is a limit of 512KB for the request.
cc/ @kolea2

[2022-02-23 15:01] igorbernstein2 commented on #1437
Hi,
ReadRows is not designed for large batch fetches. The method is optimized for streaming scans. The contract that ReadRows implements is to return rows in lexicographic order, which prevents parallelism. I would recommend to keep less than 100 keys per request. The bigtable client include a batch helper for this purpose:
https://googleapis.dev/java/google-cloud-bigtable/latest/com/google/cloud/

[2022-02-23 15:01] #1437 closed

[2022-02-28 18:47] meltsufin commented on #474
I'm not sure when we'll have the next major version bump, but yes, it would have to be filed under that.

[2022-03-17 01:14] vam-google commented on #1551
@paulotaylor This logic has undergone many modifications since its initial design, including recently, which was intended to make use of grpc's internal thread pool to handle rpc-specific threads (to not confused with threads used to do retries and LROs). The grpc's internal thread pool is unbounded and will start a new thread if there are no more free threads available in the pool. I suspect you

[2022-03-17 01:14] #1551 closed

[2022-03-21 03:10] blakeli0 opened #1635 "Error Details Improvements - GRPC"
This feature is to improve the overall debugging experience of all client libraries.
For GRPC, the detailed error information is already sent from server as the cause of ApiException, but it's encoded and not easy to access. Need to make the these info easily accessible by end users when error occurs.

See the following links for the overall design across all languages:
[go/actools-error-improveme

[2022-04-04 15:20] #1635 closed

[2022-04-25 21:16] blakeli0 opened #1665 "Error Details Improvements - HTTP/JSON"
This feature is to improve the overall debugging experience of all client libraries.

See the following links for the overall design across all languages:
[go/actools-error-improvements](https://goto.google.com/actools-error-improvements)
[go/actools-gapic-actionable-error-slide](http://go/actools-gapic-actionable-error-slide)

The GRPC implementation is already done as part of #1634 , this issue

[2022-05-18 17:13] suztomo opened #1686 "GraalVM downstream check failed upper-bound-deps"
https://github.com/googleapis/gax-java/runs/6492429066?check_suite_focus=true

[code]

The upper-bound-deps shouldn't interfere the GraalVM compatibility check.

The error indicates that the shared dependencies BOM has outdated api-common.

[2022-05-18 17:54] suztomo commented on #1686
The call from downstream-client-library-check.sh is

[code]

It seems the fix needs to be in build.sh in the java-orgpolicy.

[2022-05-18 17:59] meltsufin commented on #1686
What do you mean by "fix"?

[2022-05-20 09:02] google-cloud-policy-bot[bot] opened #1691 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [x] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [ ] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2022-06-06 17:23] blakeli0 opened #1694 "BatcherImplTest is flaky"
BatcherImplTest sometimes fails with the following log:
[code]

[2022-06-09 05:01] edudar opened #1696 "GraalVM native image and netty's Slf4JLoggerFactory from gax-grpc/native-image.properties"
I'm trying to build a native image that uses `gcloud` java libraries. The first issue I encountered is
[code]

when I tried to apply the suggested fix I get another error that points to gax-grpc:
[code]

[code]

[2022-06-09 18:01] mpeddada1 commented on #1696
Hi @edudar, thanks for filing this issue! Are you experiencing this with only `spring-cloud-gcp-starter-trace` or with any other libraries?

[2022-06-09 20:48] edudar commented on #1696
@mpeddada1 it's not specific to tracing, that just happened to be the library that is adopted the widest in our codebase. Having these two lines in the build is enough for it to fail:
[code]

Here are some log excerpts (I use 22.2 because of M1 Mac):
[code]

[2022-06-09 22:21] mpeddada1 commented on #1696
That is interesting. I created a small sample app with these two dependencies and I haven't been able to reproduce this issue on my end: https://github.com/mpeddada1/simple-netty-test. Do you have a sample that we can try out? It might help with finding the root cause of the issue.

[2022-06-09 23:11] edudar commented on #1696
@mpeddada1 might work because there's no slf4j dependency in your sample project. Check this one out: https://github.com/edudar/gax-java-native-slf4jlogger

[2022-06-13 10:26] prash-mi opened #1712 "com.google.api.gax.rpc.AsyncTaskException in java-bigquery integration test"
I am getting `com.google.api.gax.rpc.AsyncTaskException` with a couple of integration test of java-bigquery lib. Here is the [complete log](https://source.cloud.google.com/results/invocations/f2e9934b-f3f4-42e5-8e31-0beae06c6c23/targets/cloud-devrel%2Fclient-libraries%2Fjava%2Fjava-bigquery%2Fpresubmit%2Fintegration/log) and below is the stacktrace:
[code]

#### Environment details

  - Programmin

[2022-06-16 20:10] mpeddada1 commented on #1712
Thanks for filing the issue @prash-mi and the investigation! Looking at the logs (`cloud-devrel/client-libraries/java/java-bigquery/presubmit/integration[default]`), it seems like this error is happening in standard Java and not Graal. That being said, it is also worth looking into this deeper in case this also affects native image(graal) tests. Do these tests consistently fail with this error or

[2022-06-16 20:43] meltsufin commented on #1712
It looks like an error coming from the server: `INTERNAL: request failed: internal error`.

[2022-06-17 14:29] mpeddada1 commented on #1712
Ah got it, thank you.

[2022-06-20 10:00] prash-mi commented on #1712
thanks for confirming, I have raised b/235591056 with the backend. Closing this issue.

[2022-07-08 17:02] varunramc opened #1728 "Conflicting routing annotations not working"
Consider the following routing annotations for a `resource` field:
[code]

Given a field value of `projects/_/buckets/test-bucket/objects/test-object`, the generated client throws this exception when using the method:
`java.lang.IllegalArgumentException: Multiple entries with same key: bucket=projects/_/buckets/primary-bucket-123 and bucket=projects/_/buckets/primary-bucket-123/objects/test-object

[2022-07-08 23:08] #1728 closed

[2022-07-09 01:50] blakeli0 commented on #1728
@varunramc Thanks for reporting this issue! This issue is now fixed. If it's urgent, we can release another version of gax-java now so you can start using it. Otherwise we'll release it under our normal schedule, usually within 3 weeks.

[2022-07-10 21:28] lpellegr commented on #1696
Same issue here! Does somebody found a workaround? this prevents upgrading dependencies.

[2022-07-11 19:02] gattytto opened #1731 "Windows + Bazel : props_path with forward slash and "cat" use breaks all"
hello, I'm referring to the use of this library in vscode with windows11 and powershell as a terminal, [this line](https://github.com/googleapis/gax-java/blob/e740839594eb60ca437fe51cf05de01c0871a051/repository_rules.bzl#L31) makes a reference to something like this:

"C:/users/administrador/_bazel_administrador/y554zjiy/external/com_google_api_gax_java/dependencies.properties"
and tries to "cat"

[2022-07-12 14:33] #1696 closed

[2022-07-25 10:24] lpellegr commented on #1696
@mpeddada1 Would it possible to make a release that includes the fix?

[2022-07-26 22:00] edudar commented on #1696
@mpeddada1 looks good so far. I managed to run my test project with two additional initialization:
[code]
But it compiles and runs!

[2022-07-28 15:17] blakeli0 commented on #1694
Duplicate of #1615

[2022-07-28 15:17] #1694 closed

[2022-07-29 16:57] blakeli0 opened #1755 "HttpJsonClientInterceptorTest.testCustomInterceptor is flaky"
See https://github.com/googleapis/gax-java/runs/7581553740?check_suite_focus=true for the failure in gradle build and https://github.com/googleapis/gax-java/runs/7582163011?check_suite_focus=true for failure in maven build.

[2022-08-01 19:52] suztomo commented on #1259
I see https://github.com/thboulay/JavaFirestorePackage is unavailable now.

[2022-08-01 19:53] suztomo commented on #1259
Closing this issue for issue cleanup. If somebody can provide latest reproducible, please reopen this issue with the link.

[2022-08-01 19:53] #1259 closed

[2022-08-01 19:58] suztomo commented on #1586
Closing this issue for cleanup.

@khoek If you still need this issue and able to clarify the question above, please reopen this issue.

[2022-08-01 19:58] #1586 closed

[2022-08-01 20:06] suztomo commented on #1731
@[gattytto](https://github.com/gattytto) Thank you for filing the issue. I'm afraid that we cannot commit to building this library in Windows environment due to it incurring build environment maintenance reason.

The library published to Maven Central works in Windows environment.

[2022-08-01 20:38] #1731 closed

[2022-08-01 20:40] suztomo commented on #1731
@gattytto I clarified the required environment in README.md. I believe you just reported the issue because this Bazel build didn't work in Windows, and you don't actually need to build this project. If this is not the case (you really need Windows + Bazel build for gax-java project), please let us know.

[2022-08-01 22:54] blakeli0 commented on #1001
This issue is fixed by https://github.com/googleapis/gax-java/pull/1749

[2022-08-01 22:54] #1001 closed

[2022-08-02 18:21] #1286 closed

[2022-08-02 18:52] blakeli0 commented on #1293
@XN137 We don't have any plans at this moment. However, this is definitely a good improvement to our client libraries, we may implement this idea once we have some capacity.

[2022-08-02 18:55] blakeli0 commented on #1293
Closing this issue in favor of tracking this topic in the generator https://github.com/googleapis/gapic-generator-java/issues/726

[2022-08-02 18:55] #1293 closed

[2022-08-04 17:27] #1686 closed

[2022-08-09 18:38] #1228 closed

[2022-08-09 18:38] suztomo commented on #1228
Closing this for obsolete.

[2022-08-24 17:34] axelfontaine opened #1780 "GraalVM native image warning about deprecated option --allow-incomplete-classpath"
#### Environment details

[code]

#### Steps to reproduce

  1. Create a native image with the latest GraalVM version of an app that includes gax.jar and you get:

[code]

[2022-08-24 18:00] axelfontaine opened #1781 "GraalVM native image fails on io.grpc.netty.shaded.io.netty.util.ReferenceCountUtil"
#### Environment details

[code]

#### Steps to reproduce

  1. Create a native-image with gax and you get:

[code]

[2022-08-25 20:06] mpeddada1 commented on #1781
Hi @axelfontaine thanks for reporting this! I've attempted to reproduce this with a simple app that includes just gax 2.19.0 as a dependency on Graalvm 22.2.0 but haven't been able to see this error. A couple of questions to gain more information:
1) What version of gax are you using?
2) Did you see this occur for GraalVM 22.1.0 as well?
3) Are you using any specific logging library along with gax

[2022-08-26 08:58] axelfontaine commented on #1781
We don't use gax directly, but it gets included as a transitive dependency of GCP's SDKs.

Here are our relevant dependencies:
[code]

And this is the code that triggers it:

[code]

While this transitively includes an older version of gax, this doesn't change with 2.19.0 as can be verified by forcing the newer dependency with:
[code]

The relevant `native-image.properties` files haven't changed r

[2022-08-30 17:22] diego92sigma6 opened #1783 "putQueryParam should handle special serializable types"
[`putQueryParam`](https://github.com/googleapis/gax-java/blob/7b3dcc194468213bdd38d76d1d87509880edf7a8/gax-httpjson/src/main/java/com/google/api/gax/httpjson/ProtoRestSerializer.java#L129) should handle object types that are serializable, such as FieldMask, by using proper serialization rather than `String.valueOf()` which would produce an unprocessable url format (i.e. `toJson()`).

_A valid quer

[2022-08-30 19:30] blakeli0 commented on #1783
The original issue was reported in https://github.com/googleapis/gapic-generator-java/issues/1016#issuecomment-1227785726

[2022-08-31 14:18] mpeddada1 commented on #1781
@axelfontaine thanks for the detailed follow-up! I was able to [reproduce](https://github.com/mpeddada1/test-gax) this problem. It seemed like we were bringing in some unnecessary dependencies in java-compute which was causing a conflict with the slf4j library dependencies. This PR should address this: https://github.com/googleapis/java-compute/pull/722. It will be introduced with [java-compute 1.

[2022-09-09 16:55] mpeddada1 opened #1788 "Consider moving ProtobufMessageFeature native image configuration to gax"
Currently java-compute brings in gax-grpc for the purpose of bringing in ProtobufMessageFeature. The `ProtobufMessageFeature` class is used to register reflection configurations for all the sub-classes of [`com.google.protobuf.GeneratedMessageV3`](https://github.com/protocolbuffers/protobuf/blob/main/java/core/src/main/java/com/google/protobuf/GeneratedMessageV3.java) which is used by generated cl

[2022-09-13 18:15] #1783 closed

[2022-09-19 14:12] mpeddada1 commented on #1781
java-compute 1.12.1 has been released with this fix.

[2022-09-19 14:12] #1781 closed

[2022-09-28 18:36] meltsufin commented on #116
Obsolete.

[2022-09-28 18:36] #116 closed

[2022-09-28 18:41] meltsufin commented on #185
Obsolete.

[2022-09-28 18:41] #185 closed

[2022-09-28 18:44] #561 closed

[2022-09-28 18:47] meltsufin commented on #571
Closing due to low priority and lack of activity for a long time.

[2022-09-28 18:47] #571 closed

[2022-09-28 18:50] meltsufin commented on #588
Closing. Please re-open if it's still a needed feature.

[2022-09-28 18:50] #588 closed

[2022-09-28 18:55] meltsufin commented on #614
You can use a custom implementation of the `HeaderProvider` for maximum flexibility.

[2022-09-28 18:55] #614 closed

[2022-09-28 19:00] meltsufin commented on #638
@vam-google Do you have any updated thoughts on this?

[2022-10-01 01:52] Mk1206mk commented on #1788
https://github.com/googleapis/gax-java/issues/1788#issue-1368087289

[2022-10-01 01:52] Mk1206mk commented on #1586
https://github.com/googleapis/gax-java/issues/1788#issue-1368087289

[2022-10-05 15:41] meltsufin commented on #761
We plan to continue implementing more downstream checking in this repo instead.

[2022-10-05 15:41] #761 closed

[2022-10-05 15:45] meltsufin commented on #764
@vam-google Is this still a relevant feature request at P1?

[2022-10-05 15:47] #773 closed

[2022-10-05 15:56] meltsufin commented on #965
This is not an issue GAPIC. GAPIC retries whatever codes are "retryable".

[2022-10-05 15:57] #1035 closed

[2022-10-12 15:21] meltsufin commented on #1148
Works as intended. Since GAX does not depend on java-core, it wouldn't make sense for it to use `NoCredentialsProvider`.

[2022-10-12 15:21] #1148 closed

[2022-10-12 15:41] #1275 closed

[2022-10-12 15:43] meltsufin commented on #1285
We're planning to replace Bazel with Maven.

[2022-10-12 15:43] #1285 closed

[2022-10-12 15:49] meltsufin commented on #1292
When we do a major release, we'll have to go over all deprecated APIs and remove them. This should be covered by that.

[2022-10-12 15:49] #1292 closed

[2022-10-18 15:04] #1261 closed

[2022-10-18 19:35] #1331 closed

[2022-10-18 19:50] igorbernstein2 opened #1826 "BatcherImpl.add can hang if an exception is thrown starting a call"
#### Environment details

  - Programming language: java
  - OS: MacOS 12.6
  - Language runtime version: 11.0.16.1
  - Package version: 2.19.2

#### Steps to reproduce

Failing unit test:
[code]

### Proposed solution

BatcherImpl#sendOutstanding() should catch exceptions from futureCall() and treat it as if the RPC failed

[2022-10-19 17:00] failure-checker[bot] opened #1837 "Warning: a recent release failed"
The following release PRs may have failed:

* #1824 - The release job was triggered, but has not reported back success.

[2022-10-25 21:02] blakeli0 commented on #1837
2.19.4 was released in place of 2.19.3

[2022-10-25 21:02] #1837 closed

[2022-10-25 22:00] failure-checker[bot] opened #1846 "Warning: a recent release failed"
The following release PRs may have failed:

* #1824 - The release job was triggered, but has not reported back success.

[2022-10-26 15:06] meltsufin commented on #1280
Closing, since we haven't seen this flake in a long while.

[2022-10-26 15:06] #1280 closed

[2022-10-26 15:07] #1615 closed

[2022-10-26 15:13] #1301 closed

[2022-10-26 15:18] meltsufin commented on #1309
@lqiu96 Can you take this on as part of the Maven migration? Thanks!

[2022-10-26 15:22] meltsufin commented on #1626
@vam-google Is this still relevant?

[2022-10-27 03:22] blakeli0 commented on #1755
@lqiu96 Can you please fix this as part of the Maven migration? This test is very flaky in Maven so we should fix it before migrating to Maven.

[2022-10-27 23:13] losalex opened #1854 "Add an ability to override default BatchingSettings in LoggingServiceV2StubSettings"
Recently we implemented the ability to edit batching settings in [java-logging](https://github.com/googleapis/java-logging) library due to customers demand - see [1164](https://github.com/googleapis/java-logging/pull/1164).
Thats said, `LoggingServiceV2StubSettings` is still lacking functionality to expose `BatchingSettings` to users. So far it seems not used much, however this issue will keep tra

[2022-11-01 14:47] johnjcasey opened #1858 "Watchdog waits on executor shutdown in awaitTermination, even if ExecutorProvider has shouldAutoClose == false"
#### Environment details

  - Programming language:
  - OS:
  - Language runtime version:
  - Package version: 2.19.2

#### Steps to reproduce

  1. When using a BigQueryWriteClient with a custom ExecutorProvider
  2. And that executorProvider has shouldAutoClose == false
  3. The watchdog that gets spun up in ClientContext uses this provided executor, but is marked as shouldAutoClose == true (whi

[2022-11-04 17:28] blakeli0 commented on #1755
See this chat [thread](https://chat.google.com/room/AAAAK9nAsFs/FRLf0CIzHqY) for detailed discussion.

[2022-11-04 19:56] blakeli0 commented on #1858
I tested in my local that Watchdog is not shutting down Executor, the [implementation](https://github.com/googleapis/gax-java/blob/d81428065e57131b6f1f8e5447fef75ca1bc9344/gax/src/main/java/com/google/api/gax/rpc/Watchdog.java#L136) of `shutdown()` in `Watchdog` can also confirm that it's only cancelling the future, not shutting down Executor.

Based on the linked PR, I guess the problem you are t

[2022-11-07 15:49] johnjcasey commented on #1858
We are using awaitTermination at the client level, which causes watchdogs to await, which depends on the await of the underlying executor. Ultimately, if the executor shouldn't be shutdown, I don't think we should await on the executor within the watchdog either

[2022-11-08 14:49] johnjcasey commented on #1858
yep. When we provide this executor: https://github.com/apache/beam/blob/master/sdks/java/core/src/main/java/org/apache/beam/sdk/util/UnboundedScheduledExecutorService.java

and configure the executor provider like this: https://github.com/johnjcasey/beam/blob/feature/21368-re-enable-unboundedScheduledExecutor/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQ

[2022-11-08 23:14] blakeli0 commented on #1858
I still couldn't reproduce it with `UnboundedScheduledExecutorService`, [Watchdog.shutdownNow](https://github.com/googleapis/gax-java/blob/abecb7cfd8680ec1a693accde5b8e08c23c0ffdb/gax/src/main/java/com/google/api/gax/rpc/Watchdog.java#L151) only cancels the future and [Watchdog.awaitTermination](https://github.com/googleapis/gax-java/blob/abecb7cfd8680ec1a693accde5b8e08c23c0ffdb/gax/src/main/java/

[2022-11-09 15:09] johnjcasey commented on #1858
Are you creating a BQ client? the newWriteClient in the above code is a BigQueryWriteClient, for context.

It wraps a ClientContext, and calls forwards the various shutdown methods to the ClientContext.backgroundResources

[2022-11-09 16:14] blakeli0 commented on #1858
Yes, I'm creating a `BigQueryWriteClient`, the various shutdown methods eventually call various shutdown methods in [Watchdog](https://github.com/googleapis/gax-java/blob/main/gax/src/main/java/com/google/api/gax/rpc/Watchdog.java#L135-L162), but none of them are shutting down ExecutorService.

[2022-11-09 16:18] lqiu96 commented on #1755
@blakeli0, I took a look at the original GRPC implementation for Unary calls: #1356. It seems that this was intended to be an eager implementation: https://github.com/googleapis/gax-java/blob/abecb7cfd8680ec1a693accde5b8e08c23c0ffdb/gax-grpc/src/main/java/com/google/api/gax/grpc/GrpcClientCalls.java#L169

The eager implementation seems to be a copy of Grpc-Java's ClientCalls: https://github.com/gr

[2022-11-09 16:58] johnjcasey commented on #1858
Ah! The problem we were seeing is that our await termination is hanging for the duration of the timeout provided (60s), because the underlying executor isn't getting terminated.

[2022-11-09 16:59] johnjcasey commented on #1858
but this await termination call shouldn't wait for the executor to be terminated

[2022-11-09 18:02] johnjcasey commented on #1858
Sorry I've been explaining some of the issues poorly

[2022-11-09 21:18] lqiu96 commented on #1755
For now, we have decided to busy-wait until the interceptor has received the status code #1851

We're going to explore some potential fixes for the issues above.

[2022-11-10 21:56] lqiu96 commented on #1755
One approach that we are looking to take for minimal changes:

1. Change `FutureListener`'s implementation to be similar to what we see in Grpc-Java (https://github.com/grpc/grpc-java/blob/eb1e5a11c6397dd9809d3bb4adf142caf0007065/stub/src/main/java/io/grpc/stub/ClientCalls.java#L542). This is the non-eager implementation -- We'll set the future's value `onClose()` instead of `onMessage`.
2. Rename

[2022-11-10 22:34] lqiu96 opened #1871 "Enable compilation failOnWarning check"
Add `<failOnWarning>true</failOnWarning>` config in `mvn-compiler-plugin`. This would require a bit of source level adjustments for compilation to pass

There have been a few PRs/Issues created to address compiler warnings before:
- https://github.com/googleapis/gax-java/pull/1633
- https://github.com/googleapis/gax-java/issues/474

The changes required look to be breaking changes, so we would nee

[2022-11-11 04:56] blakeli0 commented on #1858
@johnjcasey No worries, can you please update the title and description to match the issue you were observing? I'll prepare a fix in the mean time.

[2022-11-14 15:03] mervyn-mccreight opened #1874 "Published license identifier is not compliant with the SPDX license list"
As for now the license is getting published as `BSD 3` but according to https://spdx.org/licenses/BSD-3-Clause.html the  SPDX-identifier would be `BSD-3-Clause`.

It would be nice to align it to the SPDX-identifier, because this makes it easier for tools like e.g. Gradle plugins to detect the used license by relying on the SPDX license identifiers.

[2022-11-15 22:31] lqiu96 commented on #1755
Our preference is to update the code to a non-eager implementation (converting the old eager implementation to non-eager). If there is interest/ support for an eager implementation, we can add it in.

[2022-11-16 17:00] #1846 closed

[2022-11-30 16:32] lqiu96 opened #1901 "Enhance checkstyle plugin to check for missing Javadoc"
**Is your feature request related to a problem? Please describe.**
We should check and enforce that there is a javadoc comment on public methods.

**Describe the solution you'd like**
The checkstyle plugin should throw errors if there are missing javadoc comments.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-11-30 16:33] lqiu96 commented on #1901
Added simple configs for checkstyle with the `MissingJavadocMethod` module. Seeing a bunch of existing issues from the code (this is with the tests filtered out).

[code]

[2022-11-30 16:33] lqiu96 commented on #1901
checkstyle-config.xml
[code]

checkstyle-suppressions.xml
[code]

[2022-11-30 20:27] lqiu96 opened #1902 "Determine whether or not to release parent POM"
Up to @suztomo to decide if we continue to release the parent pom or use the flatten pom to deploy only the child pom.

The PR is at #1900.

[2022-11-30 20:53] lqiu96 opened #1905 "Update the supported branches to be Mavenized"
Copy the changes from the `main` branch into `2.19.x`. The g3 kokoro changes have been updated so any LTS release of gax-java will fail without the new changes.

[2022-11-30 21:17] suztomo commented on #1902
You decide. As long as the library works, I'm fine.

[2022-11-30 21:50] #1902 closed

[2022-11-30 21:55] blakeli0 commented on #1905
We should do the same for all LTS branches, including `2.16.x`(LTS 3), `2.6.x`(LTS 2) and `1.64.0-sp`(LTS1), I see there is a `1.63.0-sp` branch but I don't think it's used by any LTS, can you confirm that @suztomo?